/***
*   Settings - Color
***/

// Grey color
$grey-50:               #FAFAFA;
$grey-100:              #F5F5F5;
$grey-200:              #EEEEEE;
$grey-300:              #E0E0E0;
$grey-400:              #BDBDBD;
$grey-500:              #9E9E9E;
$grey-600:              #757575;
$grey-700:              #616161;
$grey-800:              #424242;
$grey-900:              #212121;


// Black
$black:                 #000000;
$black-1:               rgba(0, 0, 0, 0.87);
$black-2:               rgba(0, 0, 0, 0.54);
$black-3:               rgba(0, 0, 0, 0.26);
$black-4:               rgba(0, 0, 0, 0.12);


// White
$white:                 #FFFFFF;
$white-1:               #FFFFFF;
$white-2:               rgba(255, 255, 255, 0.70);
$white-3:               rgba(255, 255, 255, 0.30);
$white-4:               rgba(255, 255, 255, 0.12);


// Client Color Palette Variables
// eg $lightest-orange :  #fdc963;
// eg $lighter-orange  :  #fbb03f;
// eg $light-orange    :  #f7931e;
// eg $orange          :  #f05a29;
// eg $red             :  #ee4644;