/***
*   Settings - Defaults
***/

// High-level base settings.
$base-font-size:        16px            !default;
$base-line-height:      24px            !default;
$base-text-color:       $grey-800       !default;
$base-background-color: $white          !default;
$base-round:            2px             !default;
$base-spacing-unit:     8px;


// Spacing defaults
$margin:    $base-spacing-unit !default;
$padding:   $base-spacing-unit !default;


// z-index scale
$z-index-5: 1050;
$z-index-4: 1040;
$z-index-3: 1030;
$z-index-2: 1020;
$z-index-1: 1010;
$z-index-0: 1000;


// Colors Array - useful for looping when creating different colored versions of an element / component with mixins eg: buttons
$colors:                ('white': $white, 'black': $black);


// Susy 2
$susy: (
  columns            :  12,
  container          :  1700px,
  gutters            :  1/4,
  gutters-position   :  inside,
);