/***
*   Trumps - Helpers
***/

// Clearfix.
.clearfix { @include clearfix; }


// Container
.container {
	@include container;
	padding: 0 21px;

    @include media-query(note-and-up) {
        padding: 0 38px;
    }
}

.heading--green-small {
  color: $tdc-green !important;
  font-size: 11px !important;
  letter-spacing: 0.16em;
  font-weight: $semibold;
  text-transform: uppercase;
  font-family: $font-primary;
  
  @include media-query(note-and-up){
    font-size: 14px !important;
  }
}

// Display.
.display--block           { display: block; }
.display--inline          { display: inline; }
.display--inline-block    { display: inline-block; }


// Position.
.position--relative     {position: relative;}
.position--absolute     {position: absolute;}


// Add/remove floats.
.float--right   { float:right !important; }
.float--left    { float:left  !important; }
.float--none    { float:none  !important; }


// Text alignment.
.text--left     { text-align: left   !important; }
.text--center   { text-align: center !important; }
.text--right    { text-align: right  !important; }


// Text weightings
.text--bold     { font-weight: $bold       !important; }
.text--semibold { font-weight: $semibold   !important; }
.text--normal   { font-weight: $normal     !important; }
.text--medium   { font-weight: $medium     !important; }
.text--light    { font-weight: $light      !important; }


// Text transforms
.text--uppercase   { text-transform: uppercase;    }
.text--capitalize  { text-transform: capitalize;  }


//Border management 
.border--none     { border: none !important;          }
.border--green    { border: 1px solid $tdc-green;     }
.border--grey     { border: 1px solid $tdc-grey;      }
.border--featured { border: 4px solid $tdc-green;     }


// Mouse managment.
.clickable       { cursor: pointer }


// Hide content off-screen without resorting to `display:none;`.
.visuallyhidden {
    @include visuallyhidden();
}

.hidden-portable {
    @include media-query(portable) {
        @include visuallyhidden();
    }
}

.visible-portable {
    @include media-query(desk) {
        @include visuallyhidden();
    }
}