/***
*   Components
***/

.page {
	font-family: $font-primary;
}


a {
	color: #0093d0;
	text-decoration: none;
}


.page__content {
	@include container();
	padding: $padding;

	@include media-query(note-and-up){
		padding: 100px 38px 0 38px;
	}
}


.page--inside__content-wrap {
		@include media-query(note-and-up){
		width: 66.8125em;
		padding: 0 100px;
		float: left;
		@include clearfix();
	}
}


.subheading {
	@include font-size(19px);
	line-height: 26px;
	letter-spacing: 0.02em;
	color: $tdc-dark-navy;
	margin-bottom: 21px;

	@include media-query(note-and-up){
		@include font-size(25.43px);
		line-height: 30px;
	}
}


video {
	max-width: 100%;
}


.cta-button {
	display: block;
	padding: 15px;
	text-transform: uppercase;
	padding-right: 1em;
	letter-spacing: -0.02em;
	height: 60px;
	@include position(relative, null);

	&:after {
		font-family: 'FontAwesome';
		content: "";
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url('../img/arrow-right-white.png');
		@include position(absolute, 23px 15px 21px null);
	}
}


figure {
	margin-bottom: 50px;

	figcaption {
		background-color: $tdc-navy;
		padding: 21px;
		@include font-size(22px);
		color: $white;
		font-family: $font-secondary;
		font-weight: $light;

		> span {
			color: $tdc-light-blue;
			font-family: $font-primary;
			text-transform: uppercase;
			@include font-size(12px);
			display: block;
			font-weight: $normal;
			@include position(relative, null);
			padding-left: 14px;

			&:after {
				font-family: 'FontAwesome';
				content: "\f041";
				@include position(absolute, 1px 0 null 0);
				@include font-size(11px);
			}

			@include media-query(note-and-up){
				@include font-size(16.0px);
				line-height: 28.09px;
				margin-bottom: 8px;
			}
		}

		@include media-query(note-and-up){
			@include position(absolute, null 38px 38px null);
			width: auto;
			@include font-size(29.43px);
			line-height: 36.11px;
			padding: 25px;
			width: 345px;
			max-height: 100%;
		}
	}

	@include media-query(note-and-up){
		@include position(relative, null);
	}

	&.featured-activity {
		figcaption {
			padding: 70px 38px;
			width: 100%;
			@include position(static, null);
			
			strong {
				line-height: 65px;
			}

			p, a {
				@include font-size(21.42px);
				font-family: $font-primary;
				font-weight: $normal;
				line-height: 29px;
			}
			
			a {
				font-weight: $bold;
				margin-top: 21px;
			}

			ul {
				margin-bottom: 20px;

				li {
					background-color: $white;
					width: 44px;
					height: 44px;
					border-radius: 50%;
					display: inline-block;
					line-height: 44px;
					text-align: center;

					i {
						color: $tdc-navy;
						line-height: inherit;
						@include font-size(21px);
					}
				}
			}
		}
	}
}


a.more {
	display: inline-block;
	@include position(relative, null);
	color: $tdc-dark-navy;
	letter-spacing: 0.02em;

	&:after {
		content: "\f0da";
		font-family: "FontAwesome";
		@include position(absolute, null -1em 3px null);
		@include font-size(14px);
		line-height: inherit;
	}
}


ul {
	li {
    text-indent: -0.7em;
    list-style: none;
		
		&:before {
	    content: "• ";
	    margin-right: 0.5em;
	 		line-height: inherit;
			color: $tdc-light-blue;
		}

		ul {
			padding-left: 1.5em;

			li {
				&:before {
					color: $tdc-mid-grey;
				}
			}
		}
	}
}


ol {
	padding-left: 1em;
	
	ol {
		padding-left: 1.5em;
		list-style-type: lower-roman;
	}
}

.popular-categories {
	margin: 50px 0 0 0;
	@include clearfix();

	h2 {
		color: $tdc-green;
		font-family: $font-primary;
		text-transform: uppercase;
		@include font-size(14.72px);	
		font-weight: $semibold;
		letter-spacing: 0.13em;
	}

	li {
		display: inline-block;
		line-height: 23px;
		@include span(1 of 2 (gutter-override: 21px));

		&:nth-child(odd){
			@include last();
		}

		@include media-query(lap-and-up){
			@include span(2.93 of 9);
			display: inline-block;
			@include font-size(21.42px);
		}

		a {
			@include position(relative, null);
			padding: 5px 0;
			display: inline-block;

			&:after {
				font-family: "FontAwesome";
				content: "\f0da";
				@include position(absolute, 7px -1em null null);
				line-height: inherit;
				@include font-size(15px);
			}
		}
	}
}


table {
	margin: 50px 0;
	max-width: 100%;
	overflow: hidden;
	display: none;


	thead {
		background-color: $tdc-navy;
		color: $white;
		font-weight: $bold;
		@include font-size(21.42px);
	}

	tr {
		td {
			border: 1px solid $tdc-grey;
			padding: 28px;
			@include font-size(20.08px);
			line-height: 29px;
		}
	}
}


video {
  width: 100% !important;
  height: auto !important;
}


.video-wrap {	
	video {
		margin-bottom: 21px;

		@include media-query(note-and-up){
			margin-bottom: 38px;
		}	
	}
	

	strong {
		color: $tdc-green;
		font-weight: $bold;
		letter-spacing: 0.02em;
		@include font-size(18px);

		@include media-query(note-and-up){
			@include font-size(24.09px);
		}	
	}

	p {
		@include media-query(note-and-up){
			@include font-size(21.42px);
		}	
	}
}






.activity-search {
	background-color: #f7f7f7;
	// margin-bottom: 100px;

	fieldset {
		@include container(1345px);
		display: block;
		border: none;
		padding: 30px 21px;

		@include media-query(note-and-up){
			padding: 45px 50px;
		}
	}

	label {
		color: $tdc-dark-navy;
		font-weight: $bold;
		width: 276px;
		float: left;
		line-height: 21px;
		margin-bottom: 10px;

		@include media-query(note-and-up){
			line-height: 60px;
			@include font-size(21.42px);
		}
	}

	input, select {
		display: block;
		line-height: 1em;
		float: left;
		border: 1px solid $tdc-grey;
		width: 100%;
		padding: 5px 15px;
		margin-bottom: 15px;
		height: 40px;

		@include media-query(note-and-up){
			width: 373px;	
			margin-right: 38px;
			height: 60px;
			padding: 15px 18px;
		}
	}

	button {
		background-color: $tdc-purple;
		color: $white;
		border: none;
		width: 100%;
		line-height: 1em;
		height: 45px;
		-webkit-appearance: none;
		@include font-size(17px);
		letter-spacing: 0.02em;

		@include media-query(note-and-up){
			padding: 15px 42px 15px 21px;
			width: 146px;
			@include font-size(22.76px);
		}
	}
}




.pagination {
	list-style: none;
	text-align: center;
  @include font-size(18.74px);
  line-height: 28.11px;

	li {
		display: inline-block;
		text-indent: 0;
		width: 30px;
		height: 30px;
		color: $tdc-light-blue;
		font-weight: $semibold;

		&:before {
			display: none;
		}	

		a {
			color: inherit;
		}

		&.pagination__active {
			background-color: $tdc-light-blue;
			color: $white;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			line-height: 30px;
		}
		
		&.pagination__next {
			padding-right: 1em;
			background-repeat: no-repeat;
			background-position: center right;
			@include position(relative, null);
			width: 80px;

			&:after {
				@include position(absolute, 0 0 0 null);
				background-image: url('../img/arrow-right-blue.png');
				content: "";
				background-size: 100%;
				width: 20px;
				background-position: 0px 7px;
				background-repeat: no-repeat;
			}
		}
	}
}


.filters {
	margin-bottom: 21px;
	@include container(1345px);

	strong {
		font-weight: $bold;
		line-height: 30.79px;
		color: $tdc-dark-navy;
		display: inline-block;
		float: left;
		margin-right: 15px;

		@include media-query(note-and-up){
			@include font-size(21.42px);
		}
	}
	
	li {
		color: $white;
		background-color: $tdc-purple;
		display: inline-block;
		font-weight: $semibold;
		margin: 0.7em 0.5em 0 0;
		text-align: center;
		@include font-size(11px);
		text-indent: 0;
		border-radius: 10.75px;
	
		&:before {
			display: none;
		}
	
		button {
			background-color: transparent;
			text-transform: uppercase;
			@include position(relative, null);
			border: none;
			padding: 2px 25px 2px 10px;
			line-height: 1.4em;

			&:after {
				content: "\f00d";
				font-family: 'FontAwesome';
				@include position(absolute, 2px 10px null null);
			}
		}
	}
}


// .page--landing__wrap, .page--topic__wrap {
// 	@include container(1147px);
// 	padding: 0 38px 100px 38px;
// }