/***
*   Components
***/

html {
	font-family: $font-primary;
	background-color: $tdc-bg-grey;

	main {
		@include media-query(note-and-up){
			@include font-size(16px);
		}	

		p {
			margin-bottom: 10px;
		}

		.adbt.one_col & {
			padding-bottom: 4em;
		}
	}
}

body {
	background-color: $white;

	@include media-query(desk-wide){
		@include container(1700px);	
	}
}

p:empty,
a.cta-button:empty {
	display: none !important;
}


img {
	max-width: 100%;
	height: auto;
}

.landing, .details, .topic {
	main {
		.container {
			@include container(1063px);
		}
	}
}

.inside {
	main {
		.container {
			@include container(1270px);
		}
	}
}

//ADBT
.adbt.one_col {
	main {
		.intro-container {
			@include container(1210px);
		    padding: 90px 125px;

			@include media-query(palm-landscape) {
				padding: 4.2em;
			}

			@include media-query(palm) {
				padding: 2.2em;
			}

			.intro__subheading {
				@include font-size(22px);
				width: 100%;
			}

			.intro__description{
				@include font-size(19px);
				width: 100%;
			}
		}
	}
}
//End ADBT



.intro {
	padding-bottom: 3.26em;
	margin-bottom: 50px;
	@include container(1063px);
	padding: 0 21px 30px 21px;

	@include media-query(palm-land-up){
		padding: 0 40px;
	}

	@include media-query(note-and-up){
		padding: 0;
	}

	.landing &, .topic & {
		@include container(857px);
	}

	.adbt & {
		margin-left: 0px;
		padding-left: 0px;
	}

	.intro-wrapper {
		border-bottom: 1px solid #ececec;
		margin-bottom: 30px;
	}
}

	.intro__wrap {
		@include clearfix();

		h2 {
			@extend h1;
		}

		p {
			float: left;
		}
		
		a.cta-button {
			float: right;
		}
	}


	.intro__subheading {
		@include font-size(19px);
		line-height: 26px;
		letter-spacing: 0.02em;
		color: $tdc-dark-navy;
		margin-bottom: 21px;
	}


video {
	max-width: 100%;
}

.view-website-btn-wrapper {
	@include media-query(palm-landscape) {
		clear: left;
		float: left !important;
	    margin-bottom: 30px;
	}
}

.cta-button {
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	height: 44px;
	background-color: $tdc-purple;
	padding: 13px;
	@include font-size(17px);
	line-height: 1em;

	@include media-query(note-and-up){
		text-align: left;
	}

	&:after {
		content: "";
		background-repeat: no-repeat;
		background-size: 500px 500px;
		background-image: url(/__data/assets/file/0009/72099/sprites.svg);
		background-position: -245px -96px;
		float: right;
		height: 100%;
		width: 20px;
		margin-left: 0.5em;
	}

	&.cta-button--tripadvisor {
		background-color: #589442;

		@include media-query(palm-landscape) {
			margin-bottom: 30px;
		}
	}
}


figure {
	margin: 55px 0 30px 0;

	figcaption {
		background-color: $tdc-navy;
		padding: 21px;
		@include font-size(22px);
		color: $white;
		font-family: $font-secondary;
		font-weight: $light;

		> span {
			color: $tdc-light-blue;
			font-family: $font-primary;
			text-transform: uppercase;
			@include font-size(12px);
			display: block;
			font-weight: $normal;
			@include position(relative, null);
			padding-left: 14px;

			&:after {
				font-family: 'FontAwesome';
				content: "\f041";
				@include position(absolute, 1px 0 null 0);
				@include font-size(11px);
			}
		}

		@include media-query(note-and-up){
			@include position(absolute, null 30px 30px null);
			@include font-size(22px);
			line-height: 36.11px;
			padding: 16px 18px;
			max-width: 40%;
			max-height: 100%;
		}
	}

	@include media-query(note-and-up){
		@include position(relative, null);
	}

	&.featured-activity {
		figcaption {
			width: 100%;
			padding: 30px 21px;
			@include position(static, null);
			
			@include media-query(note-and-up){
				padding: 70px 30px;
			}

			strong {
				line-height: 65px;
			}

			p, a {
				@include font-size(16px);
				font-family: $font-primary;
				font-weight: $normal;
				line-height: 29px;

				@include media-query(note-and-up){
					@include font-size(21.42px);
				}
			}
			
			a {
				font-weight: $bold;
				color: $tdc-light-blue;
				margin-top: 21px;

				&:after {
					bottom: 0;
				}
			}

			ul {

				@include media-query(note-and-up){
					margin-bottom: 20px;
				}
				
				li {
					background-color: $white;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					line-height: 30px;
					display: inline-block;
					text-align: center;

					@include media-query(note-and-up){
						width: 44px;
						height: 44px;
						line-height: 44px;
					}
					
					i {
						color: $tdc-navy;
						line-height: inherit;
						@include font-size(16px);

						@include media-query(note-and-up){
							@include font-size(21px);
						}
					}
				}
			}
		}
	}
}


a.more {
	display: inline-block;
	@include position(relative, null);
	color: $tdc-dark-navy;
	font-weight: $bold;
	letter-spacing: 0.02em;
	@include font-size(14px);
	line-height: 21px;
	
	&:after {
		content: "";
		background-image: url(/__data/assets/file/0009/72099/sprites.svg);
		width: 10px;
		height: 100%;
		display: block;
		background-repeat: no-repeat;
		background-position: -95px -44px;
		background-size: 500px 500px;
		@include position(absolute, null -1em 0 null);
	}

	&.tc-tdc-light-blue {
		&:after {
			background-position: -200px -42px;
		}
	}
}


ul {
	li {
    text-indent: -0.7em;
    list-style: none;

		&:before {
	    content: "• ";
	    margin-right: 0.5em;
	 		line-height: inherit;
			color: $tdc-light-blue;
		}

		ul {
			padding-left: 1.5em;

			li {
				&:before {
					color: $tdc-mid-grey;
				}
			}
		}
	}
}


ol {
	padding-left: 1em;
	
	ol {
		padding-left: 1.5em;
		list-style-type: lower-roman;
	}
}


.popular-categories {
	margin: 50px 0;
	float: left;
	@include clearfix();

	h2 {
		@extend .heading--green-small;
	}

	li {
		display: inline-block;
		line-height: 23px;
		@include span(1 of 2 (gutter-override: 21px));

		@include media-query(palm-land-up){
			@include span(3.8 of 12);
			display: inline-block;
		}

		a {
			@include position(relative, null);
			padding: 5px 0;
			display: inline-block;

			&:after {
				font-family: "FontAwesome";
				content: "\f0da";
				@include position(absolute, 7px -1em null null);
				line-height: inherit;
				@include font-size(11px);
			}
		}
	}
}


table {
	margin: 50px 0;
	max-width: 100%;
	overflow-x: scroll;

	thead {
		background-color: $tdc-navy;
		color: $white;
		font-weight: $bold;
		// @include font-size(21.42px);
	}

	tr {
		td {
			border: 1px solid $tdc-grey;
			padding: 21px;
			// @include font-size(20.08px);
			line-height: 22px;
		}
	}
}


video {
  width: 100% !important;
  height: auto !important;
}


.video-wrap {	
	video {
		margin-bottom: 21px;

		@include media-query(note-and-up){
			margin-bottom: 30px;
		}	
	}
	

	strong {
		color: $tdc-green;
		font-weight: $bold;
		letter-spacing: 0.02em;
		@include font-size(18px);

		@include media-query(note-and-up){
			@include font-size(24.09px);
		}	
	}

	p {
		@include media-query(note-and-up){
			@include font-size(21.42px);
		}	
	}
}

.pagination {
	list-style: none;
	text-align: center;
  line-height: 28.11px;
      margin-bottom: 45px;

	li {
		display: inline-block;
		text-indent: 0;
		width: 30px;
		height: 30px;
		color: $tdc-light-blue;
		font-weight: $semibold;

		&:before {
			display: none;
		}	

		a {
			color: inherit;
		}

		&.pagination__active {
			background-color: $tdc-light-blue;
			color: $white;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			line-height: 30px;
		}
		
		&.pagination__next {
			// padding-right: 1em;
			text-indent: -9999px;
			background-repeat: no-repeat;
			background-position: center right;
			@include position(relative, null);
			// width: 80px;

			&:after {
				@include position(absolute, 10px 0 0 null);
				background-image: url(/__data/assets/file/0009/72099/sprites.svg);
				content: "";
				width: 20px;
				background-repeat: no-repeat;
				background-position: -359px -121px;
				background-size: 600px 600px;
				pointer-events: none;
			}
		}
	}
}


.search-filters {
	padding: 21px 0;
	width: 100%;
	float: left;
	@include clearfix();

	strong {
		font-weight: $bold;
		color: $tdc-dark-navy;
		display: inline-block;
		float: left;
		margin-right: 15px;

		@include media-query(note-and-up){
			@include font-size(21.42px);
		}
	}

	.sort-select {
		float: right;
		@include position(relative, null);
		color: $tdc-dark-navy;

		select {
			text-transform: uppercase;
			font-weight: $semibold;
			color: $tdc-dark-navy;
			border-radius: 25px;
			padding: 0 21px 0 8px;
			height: 26px;
			margin-top: 0.3em;
		}

		&:after {
			font-family: 'Fontawesome';
			content: "\f0d7";
			@include position(absolute, 6px 10px 0 null);
			@include font-size(14px);
		}
	}

	.filters {
		li {
			color: $white;
			background-color: $tdc-purple;
			display: inline-block;
			text-align: center;
			text-indent: 0;
			letter-spacing: 0.06em;
			margin-right: 5px;
			margin-top: 3px;
			border-radius: 15px;
			font-weight: $semibold;

			@include media-query(note-and-up){
				border-radius: 15px;
				font-weight: $bold;
				height: 26px;
			}
			
			&:before {
				display: none;
			}
		
			button {
				background-color: transparent;
				text-transform: uppercase;
				@include position(relative, null);
				border: none;
				float: left;
				padding: 2px 32px 2px 10px;
				@include font-size(11px);

				@include media-query(note-and-up){
					@include font-size(14px);
				}

				&:after {
					content: "\f00d";
					font-family: 'FontAwesome';
					@include position(absolute, 0px 10px null null);

					@include media-query(note-and-up){
						@include position(absolute, 2px 10px null null);
					}
				}
			}
		}
	}
}

.filters-list {
	margin-bottom: 1em;
	
	li {
		color: $white;
		background-color: $tdc-purple;
		display: inline-block;
		text-align: center;
		text-indent: 0;
		// letter-spacing: 0.05em;
		margin-right: 5px;
		margin-top: 3px;
		border-radius: 15px;
		font-weight: $semibold;
		@include font-size(11px);
		text-transform: uppercase;

		@include media-query(note-and-up){
			border-radius: 15px;
			font-weight: $bold;
			height: 23px;
		}

		span {
			line-height: inherit;
			display: block;
			height: 100%;
			padding: 0 1.25em 0 1.25em;
			line-height: 2em;
		}
		
		&:before {
			display: none;
		}
	
		// button {
		// 	background-color: transparent;
		// 	text-transform: uppercase;
		// 	@include position(relative, null);
		// 	border: none;
		// 	float: left;
		// 	padding: 2px 32px 2px 10px;
		// 	@include font-size(11px);

		// 	@include media-query(note-and-up){
		// 		@include font-size(14px);
		// 	}

		// 	&:after {
		// 		content: "\f00d";
		// 		font-family: 'FontAwesome';
		// 		@include position(absolute, 0px 10px null null);

		// 		@include media-query(note-and-up){
		// 			@include position(absolute, 2px 10px null null);
		// 		}
		// 	}
		// }
	}
}

.tabs {
	padding: 0;
	margin-bottom: 50px;
	width: 100%;
	float: left;

	li {
		list-style-type: decimal-leading-zero;
    list-style-position: inside;
		float: left;
		margin-right: 3em;
		color: $tdc-mid-grey;
		padding: 0 0 8px 0;

		a {
			@include font-size(17px);
			color: inherit;
		}

		&.active {
			color: $tdc-dark-navy;
			font-weight: $bold;
			border-bottom: 3px solid $tdc-dark-navy;
		}
	}
}

.view-all {
	@include font-size(14px);

	@include media-query(portable) {
 		width: 100%;
 		display: block;
 		text-align: center;
 	}
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap; 
 white-space: -pre-wrap;     
 white-space: -o-pre-wrap;   
 word-wrap: break-word;      
 font-family: $font-primary !important;
 overflow: none;
}

.feature-map {
	height: 450px;
	// width: 100vw;
	max-width: 1700px;
	margin-top: 60px;
}

section {	
	padding: 0 21px;

	@include media-query(palm-land-up){
		padding: 0 45px;
	}

	@include media-query(note-and-up){
		padding: 0 30px;
	}

	header {
		@include clearfix();
		padding: 0 0 15px 0;

		@include media-query(note-and-up) {
			padding: 0 30px 15px 30px;	
			line-height: 36px;
		}

		h2 {
			@include font-size(24px);
			float: left;
			margin: 0;
			color: $tdc-dark-navy;
			font-weight: $medium;
		}

		a.view-all {
			float: right;
		}
	}
}

blockquote, .pull-quote {
	color: $tdc-navy;
	@include font-size(19px);
	border-left: 3px solid $tdc-purple;
	padding: 21px 0px 8px 40px; 
	margin-top: 30px;
	margin-bottom: 30px;
	@include position(relative, null);

	&:before {
		content: '"';
		@include position(absolute, -10px null 0 21px);
		color: $tdc-purple;
		font-family: $font-secondary;
		@include font-size(38px);
	}
	// &--left {
	// 	float: left;
	// 	width: 50%;
	// 	margin-right: 30px;
	// }

	// &--right {
	// 	float: right !important;
	// 	margin-left: 30px;
	// 	width: 50%;
	// }
}

.eventfinda-disclaimer {
	margin-top: 40px;
	display: block;
}
