/***
*   Breadcrumbs
***/

.breadcrumbs {
	@extend .bare-list;
	padding: 0 0 10px 0;
	@include clearfix();
	display: none;
	height: 2em;
	margin-bottom: 1em;

	@include media-query(note-and-up){
		display: block;
	}

	li {
		display: inline-block;
		text-transform: uppercase;
		color: $tdc-mid-grey;
		font-weight: $semibold;
		@include font-size(11px);
		line-height: 29px;
		letter-spacing: 2px;

		a {
			color: inherit;
		}

		&:not(:last-child):after {
			content: ". ";
			color: $tdc-mid-grey;
		}
		
		&:first-child {
			color: $tdc-dark-navy !important;
		}
	}

	// .landing &, .topic & {
	// 	@include container(100%);
	// 	padding: 0 21px;

	// 	@include media-query(lap-and-up){
	// 		padding: 0 45px;
	// 	}

	// 	@include media-query(note-and-up){
	// 		@include container(67.47058823529412%);
	// 		padding: 0;
	// 	}
	// }

	// .intro & {
	// 	padding: 0;
	// }
}
