/***
*   Breadcrumbs
***/

.breadcrumbs {
	@extend .bare-list;
	padding: 0 0 10px 0;
	@include clearfix();
	display: none;
	height: 2em;
	// float: left;
	margin-bottom: 1em;

	@include media-query(lap-and-up){
		display: block;
	}

	li {
		display: inline-block;
		text-transform: uppercase;
		color: $tdc-mid-grey;
		font-weight: $semibold;
		@include font-size(14.72px);
		line-height: 29px;
		letter-spacing: 2px;

		a {
			color: inherit;
		}

		&:not(:last-child):after {
			content: ". ";
			color: $tdc-mid-grey;
		}
		
		&:first-child {
			color: $tdc-dark-navy !important;
		}
	}

	// .page & {
	// 	@include container(66.8125em);
	// }

	.landing & {
		@include container(1147px);
	}
}
