/***
*   Breadcrumbs
***/

.breadcrumbs {
	@extend .bare-list;
	padding: 0 0 10px 0;
	@include clearfix();
	display: none;

	@include media-query(lap-and-up){
		display: block;
	}

	li {
		display: inline-block;
		text-transform: uppercase;
		color: $tdc-mid-grey;
		font-weight: $semibold;
		@include font-size(14.72px);
		line-height: 29px;
		letter-spacing: 2px;

		a {
			color: inherit;
		}

		&:not(:last-child):after {
			content: ". ";
			color: $tdc-mid-grey;
		}
		
		&:first-child {
			color: $tdc-dark-navy !important;
		}
	}

	.page--inside & {
		padding: 0 100px 10px 100px;
		float: left;
		width: 66.8125em;
	}

	.page--landing &, .page--topic & {
		@include container(1069px);
		margin-top: 100px;
	}
}
