/***
*   Call to Action Banner
***/

.cta-banner {
	background-color: $tdc-purple;
	color: $white;
	background-image: url('../../__data/assets/image/0004/62995/swirls-purple.png');
	text-align: center;
	height: 16.1875em;
	font-weight: $medium;
	@include font-size(16px);
	padding: 0 21px;
	
	@include media-query(note-and-up){
		height: 14.65em;
		padding: 0 45px;
	}

	@include media-query(note-and-up){
		height: 25em;
		padding: 0 38px;
	}

	strong {
		font-weight: $ultrabold;
	}

	a {
		@include font-size(19px);
		color: $tdc-green;
		font-family: $font-primary;
		font-weight: $semibold;
		@include position(relative, null);
		display: inline-block;

		@include media-query(note-and-up){
			@include font-size(25px);
			margin-top: 0.5em;
		}

		&:after {
			@include position(absolute, 6px -1em 0 null);
			font-family: 'FontAwesome';
			content: "\f0da";
			@include font-size(15px);
			line-height: 15px;

			@include media-query(note-and-up){
				@include position(absolute, 10px -1em 0 null);
			}
		}
	}

	p {
		@include font-size(32px);
		font-family: $font-secondary;
		line-height: 44px;
		
		@include media-query(palm-land-up){
			@include font-size(40px);
		}

		@include media-query(note-and-up){
			@include font-size(66px);
			line-height: 69px;
		}
	}
}


		.cta-banner__wrap {
			height: 100%;
			@include container(71.09375%);
			margin: 0 auto;
			padding: 50px 0;

			@include media-query(palm-land-up){
				padding: 60px 0;
			}
			
			@include media-query(note-and-up){
				padding: 120px 0 90px 0;
				vertical-align: center;
			}
		}


		.cta-banner--green {
			background-image: url('../../__data/assets/image/0003/62994/swirls-green.png');

			a {
				color: $white !important;
			}
		}	
