/***
*   Call to Action Banner
***/

.cta-banner {
	background-color: $tdc-purple;
	color: $white;
	background-image: url(/__data/assets/image/0004/62995/swirls-purple.png);
	text-align: center;
	min-height: 16.1875em;
	font-weight: $medium;
	@include font-size(16px);
	padding: 0 21px;
	  display: table;
	  width: 100%;

	@include media-query(note-and-up){
		min-height: 300px;
		padding: 0 45px;
	}

	strong {
		font-weight: $ultrabold;
	}
	
	a {
		@include font-size(19px);
		color: $tdc-green;
		font-family: $font-primary;
		font-weight: $semibold;
		@include position(relative, null);
		display: inline-block;

		&:after {
			@include position(absolute, 0 -1em 0 null);
			content: "";
			width: 15px;
			background-position: -95px -40px;
			background-image: url(/__data/assets/file/0009/72099/sprites.svg);
			background-repeat: no-repeat;
			background-size: 400px;
		}
	}

	p {
		@include font-size(32px);
		font-family: $font-secondary;
		line-height: 44px;
		
		@include media-query(palm-land-up){
			@include font-size(50px);
			line-height: 52px;	
		}
	}

	.adbt.home_page & {
    	background-color: $tdc-dark-navy;
	}
}


		.cta-banner__wrap {
			height: 100%;
			margin: 0 auto;
			padding: 0 21px;
			vertical-align: middle;
		  display: table-cell;
		  text-align: center;

			* {
				@include media-query(note-and-up){
					@include container(60%);
				}
			}
		}


		.cta-banner--green {
			background-image: url(/__data/assets/image/0003/62994/swirls-green.png);
			background-color: $tdc-green;

			a {
				color: $white !important;

				&:after {
					background-position: 5px -40px;
				}
			}
		}	

		.cta-banner--dark-blue {
			background-color: $tdc-dark-navy;

			a {
				color: $tdc-green;

				&:after {
					background-position: 5px -40px;
				}
			}
		}
