/***
*   Feature Banner
***/

.page__feature-banner {
  	background: linear-gradient(rgba(72, 33, 192, 0.84), rgba(72, 33, 192, 0.84)), url(../img/placeholder1.jpeg);
  	background-size: cover;
	color: $white;

	h1 {
		color: $white;
	}
}