/***
*   Feature Banner
***/

.feature-banner {
	background-size: cover !important;
	color: $white;
	width: 100%;
	height: 15em;
	background: none;
	text-align: center;

	@include media-query(note-and-up){
		padding-top: 11.250em;
		height: 34.6875em;
	}

	h1 {
		color: inherit;
		@include font-size(33px);
		text-transform: uppercase;
		display: block;
		letter-spacing: 10px;
		margin: 0 auto;
		font-weight: inherit;
		line-height: 56px;

		@include media-query(note-and-up){
			@include font-size(80.31px);
			line-height: 133px;
		}
	}
}

.feature-banner--whats-on {
	color: $black;
	font-weight: $bold;
	background-color: $white;
}


.feature-banner--home {
	padding-top: 7.25em;
	background: linear-gradient(rgba(72, 33, 192, 0.84), rgba(72, 33, 192, 0.84)), url(../img/placeholder1.jpeg);
	height: 22.313em;

	@include media-query(note-and-up){
		padding-top: 11.250em;
		height: 53.125em;
	}
}


.feature-banner--activity {
	background-image: url(../img/placeholder1.jpeg);
	background-size: 100%;

	.feature-banner__wrap {
		display: none;
	}
}


	.feature-banner__wrap {
		@include position(relative, null);
		width: 100%;
		height: 100%;
		@include container(15.625em);

		@include media-query(note-and-up){
			@include container(37em);
			padding: 0 38px;
			@include position(relative, null null null null);
		}

		.feature-banner--home &:after {
			content: "";
			width: 3px;
			height: 50px;
			background-color: $white;
			@include position(absolute, null 50% 0 null);

		}
	}




	.feature-banner--image {
		background-image: url(../img/placeholder1.jpeg);
	}



.feature-banner__info {
	padding: 28px 1.3125em;
	@include font-size(22px);
	font-family: $font-secondary;
	@include position(absolute, null 0 null null);

	> span {
		color: $tdc-light-blue;
		text-transform: uppercase;
		font-family: $font-primary;
		@include position(relative, null null null null);
		@include clearfix();
		float: left;
		display: block;
		width: 100%;
		margin-bottom: 12px;
		padding-left: 12px;

		@include media-query(portable){
			@include font-size(12px);
		}

		@include media-query(note-and-up){
			@include font-size(16.06px);
			line-height: 28.11px;
			margin-bottom: 1.3125em;
			padding-left: 20px;
		}

		&:before {
			@include position(absolute, 1px null null 0);
			content: "\f041";
			font-family: 'FontAwesome';
			line-height: 1.2em;

			@include media-query(note-and-up){
				@include position(absolute, 5px null null 0);				
			}
		}	
	}

	@include media-query(portable){
		background-color: $tdc-navy;
		@include position(absolute, null 0 0 0);
	}

	@include media-query(note-and-up){
		background-color: rgba(0,29,65,0.89);
		width: 10.521em;
		padding: 50px 46px;
		@include font-size(48.19px);
		line-height: 58.89px;
	}

	strong {
		font-weight: $ultrabold;
	}
}