/***
*   Feature Banner
***/

.feature-banner {
	background-size: cover !important;
	color: $white;
	width: 100%;
	height: 240px;
	background: none;
	text-align: center;
	margin-bottom: 25px;
	
	@include media-query(palm-land-up){
		height: 480px;
		padding-top: 120px;
	}

	@include media-query(note-and-up){
		@include font-size(16px);
		height: 720px;
		margin-bottom: 90px;
	}

	h1, h2 {
		color: inherit;
		@include font-size(33px);
		text-transform: uppercase;
		display: block;
		letter-spacing: 10px;
		margin: 0 auto;
		font-weight: inherit;
		line-height: 56px;

		@include media-query(note-and-up){
			@include font-size(60px);
			line-height: 100px;
		}
	}
}


.feature-banner--home {
	background: linear-gradient(rgba(72, 33, 192, 0.84), rgba(72, 33, 192, 0.84)), url(../img/placeholder1.jpeg);
	height: 24.875em;
	margin-bottom: 0;

	@include media-query(note-and-up){
		height: 675px;
	}
}


.feature-banner--bare {
	.feature-banner__wrap {
		display: none;
	}
}


.feature-banner--location {
	background-image: url(../img/placeholder1.jpeg);
	background-size: 100%;
	
	.feature-banner__wrap {
		@include container();
		text-align: left;
	}

	@include media-query(portable){
		.feature-banner__wrap {
			@include position(relative, null);
		}

		.feature-banner__info {
			width: 35px;
			height: 35px;
			padding: 0;
			border-radius: 50%;
			line-height: 35px;
			@include position(absolute, null 21px 21px 85%);

			p, span {
				text-indent: -99999px;
				padding: 0;
				margin: 0;

				&:before {
					text-indent: 0;
					@include font-size(20px);
					text-align: center;
					right: 0;
					top: 5px;
				}
			}
		}
	}

	@include media-query(note-and-up){
		margin-bottom: 6.25em;

		.feature-banner__info {
			@include position(absolute, null 38px 80px null);
		}
	}
}


.feature-banner__wrap {
	@include position(relative, null);
	height: 100%;
	@include container(15.625em);
	padding-top: 3.25em;

	@include media-query(note-and-up){
		@include container(37em);
		padding: 8.8125em 38px 0 38px;
		@include position(relative, null null null null);
	}

	.feature-banner--home &:after {
		content: "";
		width: 3px;
		height: 35px;
		background-color: $white;
		@include position(absolute, null 50% 0 null);

		@include media-query(note-and-up){
			height: 50px;
		}
	}
}


.feature-banner__info {
	padding: 28px 1.3125em;
	@include font-size(22px);
	font-family: $font-secondary;
	@include position(absolute, null 0 null null);

	> span {
		color: $tdc-light-blue;
		text-transform: uppercase;
		font-family: $font-primary;
		@include position(relative, null null null null);
		@include clearfix();
		float: left;
		display: block;
		width: 100%;
		margin-bottom: 12px;
		padding-left: 12px;

		@include media-query(portable){
			@include font-size(12px);
		}

		@include media-query(note-and-up){
			@include font-size(16.06px);
			line-height: 28.11px;
			margin-bottom: 1.3125em;
			padding-left: 20px;
		}

		&:before {
			@include position(absolute, 1px null null 0);
			content: "\f041";
			font-family: 'FontAwesome';
			line-height: 1.2em;

			@include media-query(note-and-up){
				@include position(absolute, 5px null null 0);				
			}
		}	
	}

	@include media-query(portable){
		background-color: $tdc-navy;
		@include position(absolute, null 0 0 0);
	}

	@include media-query(note-and-up){
		background-color: rgba(0,29,65,0.89);
		width: 10.521em;
		padding: 50px 46px;
		@include font-size(48.19px);
		line-height: 58.89px;
	}

	strong {
		font-weight: $ultrabold;
	}
}



.feature-banner--white {
	color: $black;
	font-weight: $bold;
	background-color: $white;


	.feature-banner__wrap {
		max-width: 50em;
  }
}


// ADBT
.feature-banner--inside {
  background: url('/__data/assets/image/0005/65705/inside-banner.png');
  padding-top: 34px;
  height: 360px;

  h1 {
  	@include font-size(48px);
    line-height: 1.5em;
  }
}

.feature-banner--landing {
  background: url('/__data/assets/image/0005/65705/inside-banner.png');
  padding-top: 34px;
  height: 360px;

  h1 {
  	@include font-size(48px);
    line-height: 1.5em;
  }
}