/***
*   Global Footer
***/

.global-footer {
	background-color: $tdc-navy;
	font-weight: $semibold;
	font-family: $font-primary;

	a {
		color: $white;
		text-decoration: none;
		display: block;
	}
}


	.global-footer__wrap {
		padding: 2.25em 1.3125em;
		@include container();
		
		@include media-query(palm-land-up){
			padding: 40px 45px;
			@include position(relative, null);
		}

		@include media-query(note-and-up){
			padding: 60px 30px;

			.adbt & {
			    padding: 60px 30px 40px;
			}
		}
	}


	.global-footer__logo {
		display: inline-block;
		float: left;
		width: 6.25em;
		padding-top: 4px;

		@include media-query(note-and-up){
			width: 114px;
			padding: 0;
			margin-right: 35px;

			.adbt & {
			    margin-top: -17px;
			}
		}
	}
		

	.social-media-links {
		margin-left: 1.5em !important;

		@include media-query(note-and-up){
			@include position(absolute, null 30px null null);
		}

		li {
			display: inline-block;
			width: 23px;
			height: 23px;
			background-image: url(/__data/assets/file/0009/72099/sprites.svg);
			background-repeat: no-repeat;
			background-size: 400px;

			a {
				display: block;
			}
		}

		.adbt & {
			@include media-query(portable){
		    	margin-top: 1em;
			}
		}
	}


	.footer-nav {
		@extend .bare-list;
		float: left;
		@include clearfix();
		width: 100%;
		margin-top: 1.3125em;

		@include media-query(note-and-up){
			margin-top: 0;
			width: auto;
		}
		
		li {
			line-height: 29px;
			@include font-size(15px);
			@include span(1 of 2 float no-gutters);

			&:nth-child(odd) {
				padding-left: 0;
			}

			&:nth-child(even) {
				padding-right: 0;
			}

			@include media-query(palm-land-up){
				@include span(1 of 3 float no-gutters);
	
				&:nth-child(2n) {
					padding-left: 0;
				}
			}
			
			@include media-query(note-and-up){
				display: inline-block;
				line-height: 1em;
				width: auto;
				@include font-size(17px);
			}

			a {
				@include media-query(note-and-up){
					display: inline-block;
					line-height: 1em;
					padding: 0 1em !important;
				}
			}
		}
	}



	.footer-utilities {
		background-color: $tdc-dark-navy;
		color: $white;
	}


		.footer-utilities__list {
			@extend .bare-list;
			
			@include media-query(palm-land-up){
			@include container();
				padding: 0 45px;
				@include position(relative, null);
			}

			@include media-query(note-and-up){
				padding: 0 30px;
			}

			li {
				display: inline-block;
				border-right: 1px solid $tdc-navy;
				@include font-size(12px);
				width: 49.4%;
				font-weight: $semibold;
				
				@include media-query(palm-land-up){
					width: auto;
				}

				a {
					font-weight: inherit;
					padding: 11px 21px;
				}
				
				&:first-child {
					font-weight: $semibold !important;
					width: 100%;
					border-bottom: 1px solid $tdc-navy;
					padding-left: 21px;
					height: 40px;
					line-height: 40px;

					@include media-query(palm-land-up){
						width: auto;
						padding-left: 0;
					}

					@include media-query(note-and-up){
						padding-left: 0px !important;
						border-bottom: none;
						padding-right: 21px;
					}
				}

				&:nth-child(4) {
					@include media-query(palm-land-up){
						float: right;
						padding: 11px 20px;
						border: none;
					}

					@include media-query(note-and-up){
						float: none;
						@include position(absolute, 0 135px 0 null);
						border-right: 1px solid $tdc-navy;
					}
				}

				&:nth-child(5) {
					@include media-query(note-and-up){
						@include position(absolute, 0 30px 0 null);

						a {
							padding-right: 0;
						}
					}
				}
			}
		}







   .social-media-links__twitter {
			background-position: -96px -150px;
   }
   
   .social-media-links__instagram {
			background-position: -146px -150px;
   }

   .social-media-links__youtube {
			background-position: -198px -150px;
   }
  
   .social-media-links__facebook {
			background-position: -43px -150px;
   }