/***
*   Global Header
***/

.global-header {
	background-color: $tdc-purple;
	height: 112px;

	.home & {
		@include position(absolute, 0 0 null 0);
		background-color: transparent;
	}

	@include media-query(palm-land-up){
		@include position(absolute, 0 0 null 0);
	}

	@include media-query(note-and-up){
		height: 155px;
	}
}


	.global-header--transparent {
		background-color: transparent;
	}


	.global-header__wrap {
		height: 70px;
		@include position(absolute, 42px 0 0 0);
		z-index: 99999;

		@include media-query(note-and-up){
			height: 57px;
			@include position(absolute, 55px 0 0 0);
		}

		@include media-query(desk){
			height: 97px;
		}
	}


	.site-search {
		display: none;
		width: 100%;
		@include position(absolute, 0 0 null 0);
		z-index: 99999;

		@include media-query(note-and-up){
			color: $white;
			display: block;
			float: right;
		  -webkit-transition: width 0.5s;
			transition: width 0.5s;
			@include position(relative, 8% null);
			width: 200px;
		}
		
		@include media-query(desk){
			@include position(relative, 30% null);
		}

		.site-search__form {
			width: 100%;

			@include media-query(note-and-up){
				width: 160px;
				float: right;
			}
		}

		fieldset {
			width: 100%;
			padding: 2px 21px;
			border: none;
			background-color: $tdc-navy;
			float: left;

			@include media-query(note-and-up){
				width: 160px;
				background-color: transparent;
				padding: 0;
			}
		}

		input[type="search"] {
			background-color: $tdc-navy;
			width: 90%;
			padding: 0 0 4px 0 !important;
			border: none;
			margin: 0 0 4px 0;
			height: auto;
			border-bottom: 2px solid $tdc-green;

			@include media-query(note-and-up){
				width: 120px;
			  -webkit-transition: width 0.5s;
				transition: width 0.5s;
				font-weight: $semibold;
				line-height: 28.11px;
				background-color: transparent;
				border-bottom: 3px solid $tdc-green;
			}
			
			&::-webkit-input-placeholder {
				color: $white;
				opacity: 1;
				font-weight: $semibold;
				@include font-size(13px);
				font-family: $font-primary;
	
			  @include media-query(note-and-up){
					@include font-size(17px);
		   	} 

			  @include media-query(desk){
					@include font-size(18px);
		   	}
			}

			&:-moz-placeholder { /* Firefox 18- */
				color: $white;
				opacity: 1;
				font-weight: $semibold;
				@include font-size(13px); 
				font-family: $font-primary;

			  @include media-query(note-and-up){
					@include font-size(17px);
		   	} 

			  @include media-query(desk){
					@include font-size(18px);
		   	} 
			}

			&::-moz-placeholder {  /* Firefox 19+ */
				color: $white;
				opacity: 1;
				font-weight: $semibold;
				@include font-size(13px); 
				font-family: $font-primary;

			  @include media-query(note-and-up){
					@include font-size(17px);
		   	} 

			  @include media-query(desk){
					@include font-size(18px);
		   	}
			}

			&:-ms-input-placeholder {  
				color: $white;
				opacity: 1;
				font-weight: $semibold;
				@include font-size(13px);
				font-family: $font-primary;
			
			  @include media-query(note-and-up){
					@include font-size(17px);
		   	} 
			
			  @include media-query(desk){
					@include font-size(18px);
		   	} 
			}
		}
		
		button {
			background-color: $tdc-navy !important;
			border: none;
			color: $white;
			@include font-size(18px);
			width: auto !important;

			@include media-query(note-and-up){
				background-color: transparent !important;
				@include font-size(20px);
				width: 30px;
				float: right;
				margin-top: -6px;
			}
		}
	}


	.global-header__utility-nav-wrap {
		@include container();
		height: 100%;

		@include media-query(note-and-up){
			padding: 0 38px;
		}
	}