/***
*   Global Header
***/

.global-header {
	background-color: $tdc-purple;

	.home & {
		background-color: transparent;
	}
}


	.site-search {
		display: none;
		width: 100%;
		z-index: 99999;
		@include position(absolute, 0 0 null 0);

		@include media-query(note-and-up){
			color: $white;
			padding: 0 38px;
			display: block;
			z-index: 99997;
			@include container();
			@include position(absolute, 0 0 null 0);
		}
		
		.site-search__form {
			width: 100%;

			@include media-query(note-and-up){
				width: 160px;
				float: right;
			}
		}

		fieldset {
			width: 100%;
			padding: 2px 21px;
			border: none;
			background-color: $tdc-navy;

			@include media-query(note-and-up){
				width: 160px;
				background-color: transparent;
				padding: 30px 0 0 0;
			}
		}


		input[type="search"] {
			background-color: $tdc-navy;
			width: 90%;
			padding: 0 0 4px 0 !important;
			border: none;
			margin: 0 0 4px 0;
			height: auto;
			border-bottom: 2px solid $tdc-green;

			@include media-query(note-and-up){
				width: 116px;
				font-weight: $semibold;
				line-height: 28.11px;
				background-color: transparent;
				border-bottom: 3px solid $tdc-green;
			}
			
			&::-webkit-input-placeholder {
				color: $white;
				opacity: 1;
				font-weight: $semibold;
				@include font-size(13px);
				font-family: $font-primary;

			   	@include media-query(note-and-up){
					@include font-size(17px);
			   	}
			}

			&:-moz-placeholder { /* Firefox 18- */
				color: $white;
				opacity: 1;
				font-weight: $semibold;
				@include font-size(13px); 
				font-family: $font-primary;

			   	@include media-query(note-and-up){
					@include font-size(17px);
			   	} 
			}

			&::-moz-placeholder {  /* Firefox 19+ */
				color: $white;
				opacity: 1;
				font-weight: $semibold;
				@include font-size(13px); 
				font-family: $font-primary;

			   	@include media-query(note-and-up){
					@include font-size(17px);
			   	} 
			}

			&:-ms-input-placeholder {  
				color: $white;
				opacity: 1;
				font-weight: $semibold;
				@include font-size(13px);
				font-family: $font-primary;

			   	@include media-query(note-and-up){
						@include font-size(17px);
			   	}  
			}
		}
		
		button {
			background-color: $tdc-navy !important;
			border: none;
			color: $white;
			@include font-size(18px);
			width: auto !important;

			@include media-query(note-and-up){
				background-color: transparent !important;
				@include font-size(20px);
				width: 30px;
				float: right;
				padding-top: 4px;
			}
		}
	}




.global-header__wrap {
	@include position(relative, null);
	width: 100%;
	height: 70px;
	
	@include media-query(note-and-up){
		height: 100px;
	}

	.home & {
		height: auto;
	}
}