/***
*   Global Footer
***/

.global-footer {
	background-color: $tdc-navy;
	font-weight: $semibold;

	a {
		color: $white;
		text-decoration: none;
		@include font-size(12px);
	}
}



	.global-footer__wrap {
		padding: $padding * 4.5 $padding * 2.652;
	}


		
	.social-media-links {
		li {
			display: inline-block;
			padding: 0 $padding;
			text-align: center;

			i {
				@include font-size(18px);
			}
		}
	}

	.footer-nav {
		float: left;
		margin-top: 20px;

		li {
			@include span(1 of 2 float inside);
			
			&:nth-child(odd) {
				padding-left: 0;
			}

			&:nth-child(even) {
				padding-right: 0;
			}
		}
	}



	.footer-utilities {
		background-color: $tdc-dark-navy;
		color: $white;
		@include font-size(12px);

		li {
			display: inline-block;
			padding: 10px $padding * 2.652;
			width: 49.4%;
			border-right: 1px solid $tdc-navy;
		}

	}


		.footer-utilities__tourism-statement {
			width: 100% !important;
			border-bottom: 1px solid $tdc-navy;
		}

