/***
*   Global Footer
***/

.global-footer {
	background-color: $tdc-navy;
	font-weight: $semibold;
	font-family: $font-primary;

	a {
		color: $white;
		text-decoration: none;
	}
}


	.global-footer__wrap {
		padding: 2.25em 1.3125em;
		@include container(1700px);

		@include media-query(note-and-up){
			padding: 5.375em 1.3125em;
			@include position(relative, null);
		}

		@include media-query(desk){
			padding: 5.375em 2.375em;
		}
	}


	.global-footer__logo {
		display: inline-block;
		float: left;
		width: 6.25em;
		padding-top: 4px;

		@include media-query(note-and-up){
			width: 9.6875em;
			padding: 0;
			margin-right: 2.1875em;
		}
	}
		

	.social-media-links {
		float: right;

		@include media-query(note-and-up){
			@include position(absolute, null 38px null null);
		}

		li {
			display: inline-block;
			padding: 0 8px;
			text-align: center;

			i {
				@include font-size(18px);

				@include media-query(note-and-up){
					@include font-size(25px);
				}
			}
		}
	}


	.footer-nav {
		@extend .bare-list;
		float: left;
		margin-top: 1.3125em;

		@include media-query(note-and-up){
			margin-top: 0;
		}
		
		li {
			line-height: 29px;
			@include font-size(15px);

			@include media-query(portable){
				@include span(1 of 2 float inside);

				&:nth-child(odd) {
					padding-left: 0;
				}

				&:nth-child(even) {
					padding-right: 0;
				}
			}

			@include media-query(note-and-up){
				display: inline-block;
				line-height: 1em;
				padding: 0 25px;
				@include font-size(16px);
			}
	
			@include media-query(desk){
				@include font-size(20.38px);
			}
		}
	}



	.footer-utilities {
		background-color: $tdc-dark-navy;
		color: $white;
	}


		.footer-utilities__list {
			@extend .bare-list;

			@include media-query(desk){
			@include container(1700px);
				padding: 0 38px;
				@include position(relative, null);
			}

			li {
				display: inline-block;
				border-right: 1px solid $tdc-navy;
				@include font-size(12px);
				padding: 10px 1.3125em;
				width: 49.4%;
				font-weight: $semibold;

				@include media-query(note-and-up){
					@include font-size(16.06px);
					padding: 19px 28px;
					font-weight: $bold;
					width: auto;
				}

				a {
					font-size: inherit;
					font-weight: inherit;
				}
				
				&:first-child {
					font-weight: $semibold !important;

					@include media-query(portable){
						width: 100% !important;
						border-bottom: 1px solid $tdc-navy;
					}

					@include media-query(note-and-up){
						padding-left: 0px !important;
					}
				}


				&:nth-child(4) {
					@include media-query(desk){
						@include position(absolute, 0 210px 0 null);
					}
				}

				&:nth-child(5) {

					@include media-query(desk){
						@include position(absolute, 0 38px 0 null);
					}
				}
			}
		}