/***
*   In & Around
***/

.in-and-around {
	@include clearfix();
	padding: 0;
	background-color: $tdc-purple;
	
	> .container {
		padding: 0;
	}

	@include media-query(note-and-up){
		height: 560px;
	}

	h2 {
		background-color: $tdc-navy;
		padding: 0 21px;
		color: $white;
		margin: 0;
	}

	.select-wrap {
		width: 100%;
		
		@include media-query(note-and-up){
			display: none;
		}
		
		select {
			width: 100%;
			padding: 0 21px;
			border-bottom: 1px solid $tdc-grey;
			color: $tdc-dark-navy;
			font-family: $font-primary;
			@include font-size(18px);

			option {
				padding: 21px;
			}
		}

		&:after {
			right: 21px;
			top: 21px;
			color: $tdc-dark-navy;
		}
	}
}


	.in-and-around__wrap {
		float: right;
		padding: 55px 0 55px 55px;
		// @include container(517px);
		@include clearfix();
		
		ul {
			width: 411px;
		}

		li {
			border-bottom: 1px solid $tdc-grey;
			cursor: pointer;
			padding: 20px;
			@include position(relative, null);
			@include clearfix();
			background-color: $white;
			
			p {
				float: left;
				width: 293px;
			}

			strong {
				color: $tdc-green;
				display: inline-block;
				margin-bottom: 8px;
				@include font-size(18px);
			}

			i {
				color: $tdc-green;
				margin: 0 20px;
				float: right;
			}

			&:hover, &:focus {
				background-color: $tdc-green;

				@include media-query(note-and-up){
					background-color: #f7f7f7;

					&:after {
						content: "";
						@include position(absolute, 0 null null 0);
					  width: 0; 
					  height: 0; 
					  border-top: 10px solid transparent;
					  border-bottom: 10px solid transparent; 
					  border-right: 10px solid #f7f7f7; 
					}

					> * {
						color: $white;
					}	
				}
			}
		}
}



	.in-and-around__map {
		background-color: $black;
		// height: 18.375em;
		margin-top: 50px;
		float: left;
		@include clearfix();
		width: 100%;

		@include media-query(note-and-up){
			height: 100%;
			width: 65%;
			margin: 0;
		}
	}