/***
*  Inside Template
***/

.inside-wrap {
	margin-bottom: 80px;

	h2,h3,h4,h5,h6 {
		margin-top: 30px;
	}

	@include media-query(note-and-up){
		width: span(7.3);
		padding: 0 45px !important;
		float: left;
		@include clearfix();
		
		.wide &, .one_col & {
			width: 100%;
		}
	}

	@include media-query(desk){
		padding: 0 70px !important;
		width: span(7.8);
	}
}
