/***
*   Itineraries
***/

.itineraries {
	background-color: $tdc-bg-grey;

	.filters {
		float: left;
		width: 80%;
	}
}

		.listing-itineraries {
			padding-bottom: 140px;
			@extend .bare-list;
			@include container(1423px);

			> li {
				margin-bottom: 66px;
				@include font-size(21.42px);
				line-height: 29.45px;
				float: left;
				width: 100%;

				h2 {
					color: $white;
					display: block;
					width: 100%;
					padding: 25px 55px;
					background-color: $tdc-navy;
				}

				header {
					height: 508px;
					background-size: 100% !important;
					
					a {
						display: block;
						width: 100%;
						@include font-size(66.93px);
						height: 100%;
						padding: 3.1em 30px 0 30px !important;	
					}

					h2 {
						background-color: transparent;	
						text-align: center;
						font-size: inherit;
					}
				}
			}
		}


.listing-itineraries__wrap {
	border: 1px solid $tdc-grey;
	border-top: none;
	border-right: none;
	background-color: $white;
	float: left;
	@include clearfix();
	width: 100%;

	>	ul {
		border-top: none;
		height: 97px;
		padding: 0;

		li {
			display: inline-block;
			border-right: 1px solid $tdc-grey;
			height: 100%;
			text-align: center;
			vertical-align: center;
			@include font-size(32.13px);
			padding: 32px 25px;
			color: $tdc-dark-navy;
		}
	}
}	


				.listing-itineraries__description {
					padding: 55px;
					width: 650px;
					float: left;
					@include clearfix();
					height: 100%;

					p {
						margin-bottom: 21px;
					}

					h3 {
						@include font-size(37.42px);
						font-weight: $medium;
					}

					h3, h5 {
						color: $tdc-light-blue;
					}

					h5 {
						font-weight: $semibold;
					}

					h4 {
						color: $tdc-dark-navy;
						font-family: $font-secondary;
						font-weight: $medium;
					}
				}

				.listing-itineraries__highlights {
					padding: 55px;
					height: 100%;
					@include clearfix();
					float: left;
					width: 331px;

					ul {
						padding: 0;
					}
				}


				.listing-itineraries__map {
					width: 27.0199%;
					padding: 0;
					content: "";
					float: left;
					min-height: 383px;
					background-color: $black;
				}		

			.listing-itineraries__info {
				width: 100%;

				li {
					@include position(relative, null);

					&:after {
						@include position(absolute, 32px null 32px 25px);
						font-family: 'Fontawesome';
					}
					
					&:nth-child(1){
						padding-left: 55px;
					}
					
					&:nth-child(2){
						padding-left: 70px;
					}

					&:nth-child(3){
						border-right: none;
					}
				}
			}

				.listing-itineraries__info__drive {
					&:after {
						content: "\f1b9";
					}
				}


				.listing-itineraries__info__walk {

					&:after {
						content: "\f21c";
					}
				}

				.listing-itineraries__info__bike {

					&:after {
						content: "\f206";
					}
				}
