/***
*   Itinerary Details
***/

.intro--itinerary {
	.intro__wrap {
		border-bottom: 1px solid $tdc-grey;		
	}
}

.itinerary-details-list {
	float: left;
	
	li {
		display: inline-block;
		color: $tdc-dark-navy;
		border-left: 1px solid $tdc-grey;

		a {
			color: inherit;
		}
	}
}


.itinerary-details {
	@extend .listing-itineraries;

	li {
		@include position(relative, null);
	}
}


	.itinerary-details__wrap {
		width: 100%;
	}


	.itinerary-details__description {
		float: left;
		width: 695px;
		padding: 40px;
	}

	.itinerary-details__highlights {
		float: right;
		padding: 25px 30px;
		width: 281px;
		@include position(absolute, 449px 0 0 null);
		background-color: #ececec;

		ul {
			padding: 0;
		}
	}