/***
*   Itineraries
***/

.itineraries {
	background-color: $tdc-bg-grey;

	.filters {
		float: left;
		width: 80%;
	}
}

		.listing-itineraries, .itinerary-details {
			// padding-bottom: 140px;
			@extend .bare-list;
			@include container(1063px);
			padding: 0 30px;

			> li {
				margin-bottom: 66px;
				// @include font-size(21.42px);
				line-height: 29.45px;
				float: left;
				width: 100%;

				h2 {
					color: $white;
					display: block;
					width: 100%;
					padding: 25px 55px;
					background-color: $tdc-navy;
				}

				header {
					height: 379px;
					background-size: 100% !important;
					
					a {
						display: block;
						width: 100%;
						@include font-size(50px);
						height: 100%;
						padding: 3.1em 30px 0 30px !important;	
					}

					h2 {
						background-color: transparent;	
						text-align: center;
						font-size: inherit;
					}
				}
			}
		}


.listing-itineraries__wrap, 	.itinerary-details__wrap {
	border: 1px solid $tdc-grey;
	border-top: none;
	border-right: none;
	background-color: $white;
	float: left;
	@include clearfix();
	width: 733px;
	height: 268px;

	h3, h4 {
		margin: 0;
	}
				
	>	ul {
		border-top: none;
		border-bottom: 1px solid $tdc-grey;
		height: 70px;
		padding: 0;

		li {
			display: inline-block;
			border-right: 1px solid $tdc-grey;
			height: 100%;
			text-align: center;
			vertical-align: center;
			color: $tdc-dark-navy;
		}
	}
}	


				.listing-itineraries__description {
					padding: 35px 40px;
					width: 488px;
					float: left;
					@include clearfix();
					line-height: 22px;

					p {
						margin-bottom: 21px;
					}

					h3 {
						@include font-size(37.42px);
						font-weight: $medium;
					}

					h3, h5 {
						color: $tdc-light-blue;
					}

					h5 {
						font-weight: $semibold;
					}

					h4 {
						color: $tdc-dark-navy;
						font-family: $font-secondary;
						font-weight: $medium;
					}
				}

				.listing-itineraries__highlights {
					padding: 38px 30px;
					// height: 268px;
					@include clearfix();
					float: left;
					width: 236px;

					ul {
						padding: 0;
					}
				}


				.listing-itineraries__map {
					width: 270px;
					padding: 0;
					content: "";
					float: right;
					height: 268px;
					min-height: 268px;
					background-color: $black;
				}		


			.listing-itineraries__info, .itinerary-details__info {
				li {
					@include position(relative, null);
					@include font-size(24px);
					padding: 21px 24px;

					&:after {
						@include position(absolute, 21px null 32px 25px);
						font-family: 'Fontawesome';
					}
					
					&:nth-child(1){
						padding-left: 40px;
					}
					
					&:nth-child(2){
						padding-left: 70px;
					}

					&:nth-child(3){
						border-right: none;
					}
				}
			}

				.listing-itineraries__info__drive {
					&:after {
						content: "\f1b9";
					}
				}


				.listing-itineraries__info__walk {

					&:after {
						content: "\f21c";
					}
				}

				.listing-itineraries__info__bike {

					&:after {
						content: "\f206";
					}
				}
