/***
*   Itinerary Details
***/


.itinerary-details {
	@include container(1423px);
}

.itinerary-day {
	margin-bottom: 38px;
	border: 1px solid $tdc-grey;
	@include clearfix();
}


.itinerary-image {
	background: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), url(../img/placeholder1.jpeg);
	height: 400px;
	background-size: 100%;

	h2 {
		color: $white;
		display: block;
		width: 100%;
		text-align: center;
		padding: 10% 0 !important;
		background-color: transparent !important;
	}
}


.itinerary-details-list {
	@extend .bare-list;

	li {
		display: inline-block;
		color: $tdc-dark-navy;

		* {
			color: inherit;
		}
	}
}


.itinerary-day__info {
	padding: 38px;
	float: left;
	width: 80%;
}


.itinerary-day__highlights {
	background-color: $tdc-bg-grey;
	padding: 38px;
	width: 20%;
	float: right;

	ul {
		@extend .bare-list;
	}
}


.itinerary-map {
	height: 580px;

}