/***
*  Landing Template
***/

.landing-list {
	@extend .bare-list;
	margin-bottom: 60px;

	li {
		@include span(1 of 1);
		margin-bottom: 21px;
		@include position(relative, null);
		
		@include media-query(palm-land-up){
			@include span(6 of 12 (gutter-override: 0px));
			margin-bottom: 30px;
		}
			
		@include media-query(note-and-up){
			@include span(4.133 of 12 (gutter-override: 0px));
		}
		
		img {
			height: 335px;
			width: 100%;

			.adbt & {
				height: 400px;
			}
		}

		div {
			border-top: none;
			height: 280px;
			@include position(relative, null);
			padding: 40px 30px;

			@include media-query(palm-land-up){
				border: 1px solid $tdc-grey;
				border-left: none;
			}
		}

		strong {
			font-weight: $medium;
			font-family: 'Pluto';
			display: block;
			width: 100%; 
			color: $tdc-dark-navy;
			@include font-size(24px);
			line-height: 30px;
			margin-bottom: 15px;
		}

		a.more {
			color: $tdc-light-blue;
			@include position(absolute, null null 30px 30px);
			display: inline-block !important;
			margin-top: 21px;
		}

		&:nth-child(3n+1){			
			@include media-query(palm-land-up){
				border-left: 1px solid $tdc-grey;
			}
		}
	}

	.tags-list {
		display: none;
	}

	.adbt & {
		margin-bottom: 0;
	}
}

	.landing-list__cta-strip {

		@include container(100%);
	    margin-bottom: 2em;
        padding: 40px;
	    background-color: $tdc-light-blue;

		h2 {
			width: 100%;
			font-weight: $light;
			font-family: $font-primary;
		    color: $white;
		    @include font-size(24px);
		    margin-top: 7px;
		    margin-bottom: 0;

			@include media-query(palm-land-up) {
				@include span(4 of 12);
			}
		}

		p {
			width: 100%;
		    margin-top: 0;
    		margin-bottom: 0;
    		color: $white;

			@include media-query(palm-land-up) {
				@include span(4 of 12 at 7);
	    	}
		}

		a {
			width: 100%;
			text-align: left;
			margin-right: 0;
		    color: $white;
		    font-weight: $semibold;
		    text-align: right;
	        margin-top: 10px;
			@include font-size(19px);

		    &:after {
			    content: "\f0da";
			    font-family: FontAwesome;
			    margin-left: 5px;
			    font-size: 13px;
			}

			@include media-query(palm-land-up) {
				@include span(last 2 of 12);
			}
		}
	}

.page--landing__description {
	@include media-query(note-and-up){
		@include font-size(21.42px);
	}
}

.page--landing__wrap {
	@include container(71.6875em);
	padding: 0 30px;
	margin-bottom: 90px;
}