/***
*  Landing Template
***/

.landing-list {
	@include container();
	padding: 21px;
	
	@include media-query(desk){
		@include container(1345px);
		margin: 90px auto 87px auto;
		padding: 0 38px;
	}
	
	li {
		@include span(1 of 1);
		margin-bottom: 21px;
		
		@include media-query(note-and-up){
			@include span(4.133 of 12 no-gutters);
			margin-bottom: 38px;
		}
		
		img {
			height: 30em;
		}

		div {
			border-top: none;
			height: 380px;
			@include position(relative, null);
			padding: 65px 44px;

			@include media-query(note-and-up){
				border: 1px solid $tdc-grey;
				border-left: none;
			}
		}

		strong {
			font-weight: $medium;
			font-family: 'Pluto';
			color: $tdc-dark-navy;
			@include font-size(32px);
			line-height: 73px;
		}

		p {
			@include font-size(21.42px);
			height: 155px;
			line-height: 29px;
		}

		a {
			color: $tdc-light-blue;
			font-weight: $bold;
			@include font-size(18.74px);
		}

		&:nth-child(3n+1){
			border-left: 1px solid $tdc-grey;
		}
	}
}

.page--landing__description {
	@include media-query(note-and-up){
		@include font-size(21.42px);
	}
}

.page--landing__wrap {
	@include container(71.6875em);
	padding: 0 38px;
	margin-bottom: 90px;
}