/***
*   Listings
***/

ul.listing {
	@extend .bare-list;
	margin-bottom: 50px;

	li {
		border-bottom: 1px solid $tdc-grey;
		@include font-size(16px);
		padding: 0 0 28px 0;
		margin-bottom: 28px;

		@include media-query(note-and-up){
			@include span(6.1 of 12 no-gutters);
			@include font-size(21.4px);
			padding: 0 76px 55px 0;
			margin-bottom: 55px;
			line-height: 30px;
		}

		strong {
			@include font-size(18px);
			color: $tdc-light-blue;
			line-height: 28px;
			margin-bottom: 12px;
			display: block;
		
			@include media-query(note-and-up){
				@include font-size(24.09px);
			}
		}
		
		a:last-of-type {
			font-weight: $bold;
			margin-top: 30px;

			&:after {
				@include font-size(11px);
			}
		}

		&:nth-child(even){
			@include media-query(note-and-up){
				@include last();
			}
		}
	}
}


ul.listing--images {
	@extend .bare-list;

	li {
		border: 0;

		@include media-query(note-and-up){
			@include span(5.8 of 12 (gutter-override: 38px));
		}

		img {
			margin-bottom: 30px;
			width: 100%;
		}

		strong {
			color: $tdc-green;
		}
	}
}


ul.listing--events {
	@extend .bare-list;

	li {
		border: 1px solid $tdc-grey;
		padding: 21px;
		margin-bottom: 42px;
		background-color: $white;
		color: $tdc-dark-navy;
		float: left;
		@include span(1.04 of 2 (gutter-override: 21px));
		
		@include media-query(portable){
			&:nth-child(2n+1){
				@include last();
			}
		}

		@include media-query(note-and-up){
			height: 444px;
			padding: 35px;
			@include span(3.9 of 12 (gutter-override: 35px));

			&:nth-child(2){
				margin-right: 0;
			}

			&:nth-child(3n+2){
				@include last();
			}
		}

		span {
			text-transform: uppercase;
			@include font-size(11px);
			letter-spacing: 0.05em;
			font-weight: $semibold;
			line-height: 21px;
			display: block;

			&:first-of-type {
				color: $tdc-mid-grey;
			}

			&:last-of-type {
				color: $tdc-green;
				line-height: 15px;
				margin-top: 5px;
			}

			@include media-query(note-and-up){
				@include font-size(14.73px);
			}
		}

		h3, h4, strong {
			color: inherit;
			@include font-size(36px);
			line-height: 40px;
			font-weight: $normal;
			font-family: $font-primary;

			@include media-query(note-and-up){
				@include font-size(60.24px);
			}
		}
		
		h4 {
			@include font-size(16px);
			line-height: 21px;
			margin: 10px 0 10px 0;
		}

		strong {
			display: inline-block;
			font-weight: $bold;
		}
		
		a.more {
			margin-top: 15px;
			@include font-size(14px);

			&:after {
				top: 3px;
			}
		}

		&:first-of-type {
			border: 4px solid $tdc-green;
			@include span(2 of 2 (gutter-override: 21px));
	
			@include media-query(note-and-up){
				@include span(7.9 of 12 (gutter-override: 45px));
			}

			h4 {
				@include font-size(19px);
			}
		}	
	}
}