/***
*   Listings
***/

ul.listing {
	@extend .bare-list;
	margin-bottom: 50px;

	li {
		border-bottom: 1px solid $tdc-grey;
		@include font-size(16px);
		padding: 0 0 28px 0;
		margin-bottom: 28px;

		@include media-query(note-and-up){
			@include span(6.1 of 12 no-gutters);
			@include font-size(21.4px);
			padding: 0 76px 55px 0;
			margin-bottom: 55px;
			line-height: 30px;
		}

		strong {
			@include font-size(18px);
			color: $tdc-light-blue;
			line-height: 28px;
			margin-bottom: 12px;
			display: block;

			@include media-query(note-and-up){
				@include font-size(24.09px);
			}
		}
		
		a:last-of-type {
			font-weight: $bold;
			margin-top: 30px;

			&:after {
				@include font-size(11px);
			}
		}
		
		.more {
			@include media-query(note-and-up){
				@include font-size(18px);
				&:after {
					bottom: -2px;
				}
			}
		}

		&:nth-child(even){
			@include media-query(note-and-up){
				@include last();
				
				&.listing--three-column & {
					@include span(4 of 12 no-gutters);
				} 
			}
		}

		img {
		    margin-bottom: 1em;
		    max-height: 150px;
		}
	}

	&.listing--three-column { 
		li {
			@include gallery(4 of 12 no-gutters);
		    height: 635px;

			&:nth-child(3){
				@include media-query(note-and-up){
					@include last();
				}
			}

			&:nth-child(even){
				@include media-query(note-and-up){
					@include gallery(4 of 12 no-gutters);
				}
			}
		}
	}
}

ul.listing--events {
	@extend .bare-list;	
	display: -webkit-flex;
  display: flex;
	-webkit-flex-direction: row;
  flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	* {
		color: $tdc-dark-navy;
		font-family: $font-primary;
	}

	li {
  	padding: 21px;
	  -webkit-flex: 1 0 0;
	  flex: 1 0 0;
	  flex-basis: 46.7%;
		max-width: 46.7%;
		margin: 0 21px 21px 0;
		background-color: $white;
		border: 1px solid $tdc-grey;
		@include position(relative, null);
		
		@include media-query(note-and-up){
			padding: 38px;
			margin: 0 38px 38px 0;
		  flex-basis: 30%;
			max-width: 30%;
  		height: 440px;
		}

		&:nth-child(2n+1){
			@include media-query(portable){
				margin-right: 0;
			}
		}

		.inside & {
	  	flex-basis: 47.6%;
			max-width: 47.6%;

			&:nth-child(2n+1){
				margin-right: 0;
			}
		}

		&.listing--events__feature {
		  -webkit-flex: 2 0 0; 
  		flex: 2 0 0; 
			flex-basis: 100%;	
			max-width: 100%;
			border: 4px solid $tdc-green;
			
			@include media-query(note-and-up){
				flex-basis: 63%;	
				max-width:  63%;
	  	}
	
			.inside & {
				flex-basis: 100%;	
				max-width: 100%;
			}

			p {
				@include media-query(note-and-up){
					color: $tdc-dark-grey !important;
					@include font-size(21.42px);
				}
			}

			.listing--events__info-wrap {
				float: right;
				@include position(static, null);

				@include media-query(note-and-up){
					width: 50%;
					float: right;
				}

				a.more {
					@include position(relative, null);
					float: left;
					display: inline-block;

					@include media-query(note-and-up){
						@include position(absolute, null null 35px 35px);
					}
				}
			}
		}

    h3 {
			@include font-size(36px);
			line-height: 55px;

			@include media-query(note-and-up){
				display: block;
				@include font-size(60.24px);	
				line-height: 90px;
			}
    }

    h4 {
    	font-weight: $normal;
  		@include font-size(16px);
  		line-height: 21px;
  		margin: 10px 0;

			@include media-query(note-and-up){
    		@include font-size(25px);
			}
    }

		span {
			text-transform: uppercase;
			@include font-size(11px);
			letter-spacing: 0.05em;
			font-weight: $semibold;
			line-height: 21px;
			display: block;
			color: $tdc-mid-grey;

			@include media-query(note-and-up){
				@include font-size(14.73px);
			}
		}
	}

	.listing--events__info-wrap {
		@include position(static, null);
		vertical-align: bottom;

		span {
			color: $tdc-green;
			line-height: 15px;
			margin-top: 10px;

			@include media-query(note-and-up){
				line-height: 40px;
				margin-top: 0;
			}
		}

		@include media-query(note-and-up){
			@include position(absolute, null null 35px 35px);
		}

		a.more {
			margin-top: 20px;
			font-weight: $bold;
			@include font-size(14px);

			@include media-query(note-and-up){
				@include font-size(18.74px);
			}
		}
	}
	

	.listing--events__feature-wrap {		
		@include media-query(note-and-up){
			@include span(1 of 2 no-gutters);
			height: 100%;
		}
	
		h4 {
			font-size: 19px !important;
		} 

		span {
			display: inline-block;
			@include clearfix()

			&:last-of-type:before {
				content: "/";
				margin-right: 3px;
			}
		}
	}
}

ul.listing--images {
	@extend .bare-list;

	li {
		border: 0;
		padding: 0;

		@include media-query(note-and-up){
			@include span(5.8 of 12 (gutter-override: 38px));
		}

		img {
			margin-bottom: 30px;
			width: 100%;
		}

		strong {
			color: $tdc-green;
		}


		.more {
			@include media-query(note-and-up){
				@include font-size(18px);
				
				&:after {
					bottom: -2px;
				}
			}
		}
	}
}

ul.listing--basic {
	img {
		display: none;
	}
}
// ul.listing--related {
// 	margin: 70px 0;

// 	li {
// 		@include span(3.91 of 12 (gutter-override: 38px));

// 		&:nth-child(3){
// 			@include last();
// 		}
	
// 		strong {
// 			color: $tdc-green;
// 			margin: 21px 0 10px 0;
// 			line-height: 28px;
// 			display: block;
// 			@include font-size(24px);
// 		}

// 		a.more {
// 			@include font-size(18.74px);
// 		}
// 	}
// }