/***
*   Location Banner
***/

.page__location-banner {
  	background-image: url(../img/placeholder1.jpeg);
  	background-size: cover;
	color: $white;
	@include position(relative, null null null null);
	height: 435px;

	h1 {
		color: $white;
	}
}


	.page__location-banner__location {
		color: $tdc-light-blue;
		text-transform: uppercase;
		@include position(relative, null null null null);
		padding-left: 12px;
		@include clearfix();
		@include font-size(12px);


		&:before {
			@include position(absolute, 0 null null 0);
			content: "\f041";
			font-family: 'FontAwesome';
			line-height: 1.2em;
		}	
	}


	.page__location-banner__info {
		padding: $padding * 4.5 21px;
		background-color: $tdc-navy;
		@include position(absolute, null 0 0 0);
		@include font-size(22px);
	}


	.page__location-banner__cta {
		background-color: $tdc-purple;
		color: $white;
		text-decoration: none;
		display: block;
		margin-top: 20px;
		text-align: center;
		@include font-size(17px);
		text-transform: uppercase;
		padding: 15px 0;
		height: 45px;
		line-height: 1em;

		span {
			@include position(relative, null null null null);	
			color: $white !important;

			&:after {
				content: "->";
				@include position(absolute, 2px -1em 0 null);
			}
		}
	}