/***
*   Location Banner
***/

.location-banner {
	// background-image: url(../img/placeholder1.jpeg);
  background-size: cover;
	@include font-size(16px);
	color: $white;
	@include clearfix();

	@include media-query(portable){
		@include position(relative, null null null null);
		height: 27.188em;
	}

	@include media-query(note-and-up){
		height: 550px;
	}
	
	h1 {
		color: $white;
	}

	//ADBT
	.adbt.one_col & {
		@include media-query(note-and-up){
	    	height: 31.625em;
	    }
	}

	.adbt.home_page & {
		@include media-query(note-and-up) {
		    height: 41.425em;
		}
	}
	// End ADBT
}


	.location-banner__wrap {
		@include media-query(note-and-up){
			@include container();
			@include position(relative, null null null null);
			height: 100%;
			padding: 0 38px;
		}
	}


	.location-banner__info {
		padding: 28px 1.3125em;
		@include font-size(22px);
		font-family: $font-secondary;
		@include clearfix();

		p {
			@include media-query(portable){
				font-weight: $light;
			}

			//ADBT
			.adbt & {
			    line-height: 1.2em;
			}
		}

		> span {
			color: $tdc-light-blue;
			text-transform: uppercase;
			font-family: $font-primary;
			@include position(relative, null null null null);
			display: block;
			width: 100%;
			margin-bottom: 12px;
			padding-left: 12px;
			@include font-size(12px);

			@include media-query(note-and-up){
				line-height: 28.11px;
				margin-bottom: 1.3125em;
				padding-left: 20px;
			}

			&:before {
				@include position(absolute, 2px null null 0);
				content: "\f041";
				font-family: 'FontAwesome';
				line-height: 1.2em;

				@include media-query(note-and-up){
					@include position(absolute, 5px null null 0);				
				}
			}	

			//ADBT
			.adbt & {
				@include media-query(note-and-up){
					color: $white;
				    margin-bottom: 0.3125em;
				     
				     &:before {
						color: $tdc-light-blue;
				     }
		    	}
			}
			// End ADBT
		}


		@include media-query(portable){
			background-color: $tdc-navy;
			@include position(absolute, null 0 0 0);
		}

		@include media-query(note-and-up){
			background-color: rgba(0,29,65,0.89);
			width: 423px;
			padding: 32px 40px;
			@include font-size(36px);
			line-height: 44px;
		}

		.location-banner--right & {
			@include media-query(note-and-up){
				@include position(absolute, 147px 38px null null);
			}
		}

		.location-banner--left & {
			@include media-query(note-and-up){
				@include position(absolute, 147px null null 38px);
			}
		}

		strong {
			font-weight: $ultrabold;
		}

		//ADBT
		.adbt.one_col & {
			@include media-query(note-and-up){
				@include font-size(37.16px);
			    padding: 24px 30px;
	    		top: 202px;
	    		right: 240px;
	    	}
		}
	}


	.location-banner__cta {
		background-color: $tdc-purple;
		color: $white;
		text-decoration: none;
		margin-top: 20px;
		text-align: center;
		font-family: $font-primary;
		@include font-size(17px);
		text-transform: uppercase;
		line-height: 1em;
		// height: 45px;
		display: block;
		text-indent: 0 !important;

		@include media-query(note-and-up){
			display: inline-block;
			width: auto;
			margin-top: 1em;

			&:after {
				right: 20px;
			}
		}
	
		span {
			@include position(relative, null null null null);	
			color: $white !important;

			&:after {
				@include position(absolute, 2px -1em 0 null);
			}
		}
	}