/***
*   Three of the Best
***/

.our-region {
	padding: 50px 0 34px 0;
	
	@include media-query(note-and-up){
		height: 38.250em;
		padding: 90px 0;
		margin-bottom: 0;
		@include position(relative, 0 0 0 null);
	}
}


	.our-region__selector-wrap {
		line-height: 27px;
		padding: 0 45px 15px 45px;
		@include clearfix();
		@include font-size(23px);

		@include media-query(note-and-up){
			padding: 0;
			margin-bottom: 28px;
			@include font-size(32.12px);
			@include container(1700px);
		}

		h2 {
			display: inline;
			float: left;
			color: $tdc-dark-navy;
			font-weight: $medium;
			@include font-size(23px);
			line-height: 27px;
			display: inline-block;

			@include media-query(note-and-up){
				@include font-size(32.12px);
				display: block;
				line-height: 41px;
			}
		}
	}


	.our-region__list {
		@extend .bare-list;

		li {
			margin: 0 15px 21px 15px;
			height: 21.563em;
			background-color: #f7f7f7;

			@include media-query(note-and-up){
				width: 653px !important;
				height: 20.5em;

				img {
					float: left;
					@include span(1.1 of 2 (no-gutters));
					height: 20.5em;
				}
			}
		}
	}


		.our-region__info-wrap {
			padding: 25px 1.3125em 30px 1.3125em;
			line-height: 1.3125em;
			@include font-size(16px);
			color: $tdc-dark-grey;

	   	@include media-query(note-and-up){
				height: 100%;
				@include font-size(21.42px);
				line-height: 29.45px;
				padding: 65px 38px;
				@include span(1.10 of 2 (no-gutters));
				float: left;
				@include position(relative, null);	
			}

			strong {
				@include font-size(18px);
				font-weight: $bold;
				margin-bottom: 10px;
				color: $tdc-green;
				display: block;
				font-family: $font-primary;

				@include media-query(note-and-up){
					@include font-size(24.09px);
					line-height: 28.11px;
				}
			}

			a {
				color: $tdc-dark-navy;
				@include font-size(14px);
				margin-top: 10px;
				font-weight: $bold;
				@include position(relative, null);
				display: inline-block;

		   	@include media-query(note-and-up){
					@include font-size(18.74px);
					@include position(absolute, null null 55px 38px);
				}

				&:after {
					content: "\f0da";
					font-family: 'FontAwesome';
					@include font-size(11px);
					@include position(absolute, 1px -1em 0 null);
				}
			}
		}

		.our-region__view-all {
			display: block;
			text-align: center;
			width: 100%;

			@include media-query(note-and-up){
				@include font-size(18.74px);
				line-height: 29.45px;
				float: right;
				width: auto;
			}
		}


		.slider-tools {
			@include position(relative, null);
			@include container();
			height: 40px;
		}
