/***
*   Our Region Slider
***/

.our-region {
	padding: 50px 0 34px 0;
	@include font-size(16px);
	
	@include media-query(note-and-up){
		padding: 60px 0 40px 0;
		margin-bottom: 0;
		@include position(relative, 0 0 0 null);
	}

	.slider-tools {
		@include container(1005px);
	}

		header {
			padding: 0 21px 15px 21px;
			@include clearfix();
			@include font-size(24px);
			height: 47px;

			@include media-query(note-and-up){
				@include container(1005px);
				padding: 0;
				margin-bottom: 15px;
			}
			
			* {
				height: 100% !important;
				line-height: 47px;
			}

			h2 {
				display: inline-block !important;
				float: left;
				color: $tdc-dark-navy;
				margin: 0;
				font-weight: $medium;
				@include font-size(24px);
				margin-right: 0.5em;
				display: inline-block;

				@include media-query(note-and-up){
					display: block;
				}
			}
	}
}


	.our-region__list {
		@extend .bare-list;

		li {
			margin: 0 11px 0 11px;
			height: 341px;
			width: 310px;

			background-color: #f7f7f7;
			@include position(relative, null);

			@include media-query(note-and-up){
				height: 243px;
				margin: 0 30px 0 0;
				width: 488px !important;
				
				.adbt & {
				    max-height: 18.5em;
				}
				
				img {
					float: left;
					@include span(1.1 of 2 (no-gutters));

					@include media-query(note-and-up){
						width: 243px;
						height: 100%;
					}
				}
			}
		}
	}


		.our-region__info-wrap {
			padding: 30px 21px;
			@include font-size(16px);
			color: $tdc-dark-grey;
			height: 156px;

	   	@include media-query(note-and-up){
				height: 100%;
				line-height: 22px;
				padding: 45px 30px;
				@include span(1.10 of 2 (no-gutters));
				float: left;
				@include position(relative, null);	
			}

			strong {
				@include font-size(18px);
				font-weight: $bold;
				margin-bottom: 10px;
				color: $tdc-green;
				display: block;
				line-height: 1.2em;
				font-family: $font-primary;

				.adbt & {
					color: $tdc-light-blue;
				}
			}

			a.more {
				display: inline-block;
				@include position(absolute, null null 30px 21px);


		   	@include media-query(note-and-up){
					@include position(absolute, null null 40px 30px);
				}

				&:after {
					content: "\f0da";
					font-family: 'FontAwesome';
					@include font-size(11px);
					@include position(absolute, 1px -1em 0 null);
				}
			}
		}

		.our-region__view-all {
			display: block;
			text-align: center;
			@include font-size(14px);
			width: 100%;

			@include media-query(note-and-up){
				line-height: 29.45px;
				float: right;
				width: auto;
			}
		}