/***
*   Three of the Best
***/

.related-content {
	padding: 60px 21px 120px 21px;

	@include media-query(palm-landscape) {
		padding-left: 0px;
	    padding-right: 0px;
	}
	
	@include media-query(palm-land-up){
		padding: 60px 0 120px 0;
	}

	> h3 {
		@include media-query(portable) {
			padding: 0px 45px;
		}
	}	
}


	.related-content__list {		
		@extend .bare-list;
		@include container(1063px);

		@include media-query(palm-land-up){
			padding: 0 45px;
		}	

		@include media-query(note-and-up){
			padding: 0;
		}

		li {
			@include position(relative, null);
		    margin: 30px 0px;
			
			@include media-query(palm-landscape) {
				margin: 30px 15px;
			}

			// @include media-query(palm-land-up){
	 	// 		@include span(2.8 of 9 (gutter-override: 30px));	
	 	// 		margin-left: 0;		
			
			// 	&:nth-child(3) {
			// 		@include last();
			// 	}
			// }

			strong {
				display: block;
				color: $tdc-green;
			}

			@include media-query(palm-land-up){
	 			@include gallery(3 of 9 (gutter-override: 35px));
	 			@include gutters(30px after);			

				&:nth-child(3) {
					@include last();
				}
			}

			img {
				height: 188px;
				width: 100%;
				object-fit: cover;
				object-position: top;
			}
			
			> div {
				margin-top: 15px;
			}
		}
	}


	// 	.three-best__info-wrap {
	// 	    padding: 9px 0 21px;
	// 		line-height: 22px;
		
	// 		strong {
	// 			color: $tdc-green;
	// 			@include font-size(18px);
	// 			font-weight: $bold;
	// 			display: block;
	// 			margin-bottom: 10px;
	// 			font-family: $font-primary;
	// 		}

	// 		a {
	// 			color: $tdc-dark-navy;
	// 			@include font-size(14px);
	// 			display: block;	
	// 			margin-top: 10px;
	// 			font-weight: $bold;
	// 		}
	// 	}

	// 	.three-best-select--blue {
	// 		color: $tdc-light-blue !important;

	// 		&:after {
	// 			color: $tdc-light-blue !important;
	// 		}
	// 	}