/***
*   Related Info
***/

.related-info {
	margin: 21px 0;
	float: left;

	@include media-query(note-and-up){
		width: 177px;
		float: right;
		margin: 0;
	}

	h2 {
		color: $tdc-dark-grey;
		text-transform: uppercase;
		border-bottom: 1px dotted $tdc-mid-grey;
		font-family: $font-primary;
		@include font-size(12px);
		padding-bottom: 15px;

		@include media-query(note-and-up){
			// padding-bottom: 20px;
			display: block;
			// @include font-size(16.06px);	
		}
	}

	ul {
		@include font-size(15px);
		float: left;
		width: 100%;
		margin: 21px 0 21px 0;

		@include media-query(note-and-up){
			margin: 10px 0 50px 0;
		}

		li:last-of-type {
			a {
				text-transform: capitalize;
			}
			
			i {
				@include font-size(10px);
			}
		}

		a {
			padding: 6px 0;
			display: block;
		}
	}
}


	.related-info__promoted-info {
		width: 100%;
		padding: $padding;
		margin: 25px 0;
		float: left;
		line-height: 22px;
		
		strong {
			font-weight: $bold;
			margin-bottom: 8px;
			display: block;
			@include font-size(18px);
		}

		.cta-button {
			margin-top: 30px;
			padding: 10px 30px 10px 10px;
			display: block;
			height: auto;
			@include font-size(17px);
		}
	}


	.related-info__promoted-info--light {
		border: 1px solid $tdc-grey;
		color: $tdc-dark-navy;
		
		.cta-button {
			background-color: $tdc-light-blue;
		}
	}


	.related-info__promoted-info--dark {
		background-color: $tdc-navy;
		color: $white;
		
		strong {
			color: $tdc-green;
		}

		.cta-button {
			background-color: $tdc-green;
		}
	}