/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .adbt.home_page & {
        max-height: 18.1em;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    outline: none;
    left: 0;
    top: 0;
    display: block;

    .home & {
		left: 300px;
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }

    // whats-on & {
    //     width: 100% !important;
    // }
}

.slick-slide {
    @extend .bare-list;

    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;


    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset "UTF-8";

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: $black !default;
$slick-dot-color: $black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\f177" !default;
$slick-next-character: "\f178" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */


.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    bottom: 0 !important;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    background-image: url('./?a=67781');
    background-size: 100%;
    // display: block;
    background-repeat: no-repeat;
    background-position: center;

    &:hover, &:focus {
        // outline: none;
        // background: transparent;
        // color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: 'FontAwesome';
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @include media-query(portable){
      display: none !important;
    }
}

.slider-tools {
	@include position(relative, null);
	@include container();
	height: 40px;

    .adbt & {
        @include container(57.25em);
    }
}

.slick-prev {
    left: 0;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    transform: rotate(180deg);
    background-position: center -1px;

    top: 5px;

    .slick-whats-on & {
      left: 0;
      top: 460px;

      &:before {
        @include font-size(26px);
      }
    }
}

.slick-next {
    right: 0;
    bottom: 5px;

    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }

    .slick-whats-on & {
      right: 0;
      top: 460px;

      &:before {
        @include font-size(26px);
      }
    }
}

.slick-active {
  opacity: 1 !important;
}

.slick-dots {
  @extend .bare-list;
    list-style: none;
    display: block;
    position: relative;
    text-align: center;
    padding: 0;
		margin: 21px auto 0 auto;
    width: 80%;

    @include media-query(note-and-up){
			margin: 30px auto 0 auto;
    }

    li {
        position: relative;
        display: inline-block;
        height: 22px !important;
        width: 22px !important;
        margin: 0 5px !important;
        padding: 0 !important;
        cursor: pointer;
        outline: none;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
            border: 1px solid $black;
            border-radius: 50%;
            top: 0.4em;
            padding-bottom: 10px;
            width: 12px;
            height: 12px;
            line-height: 2em;
        }
    }
}