/***
*   Tags
***/

ul.tags-list {
	@extend .bare-list;
	text-indent: -999999px;
	width: 100%;

	> li {
		display: inline-block;
		float: left;
		background-color: rgba(0, 16, 36, 0.80);
		border-radius: 50%;
		color: $white;
		width: 30px !important;
		min-width: 30px;
		margin: 12px 0;
		height: 30px !important;
		min-height: 30px;
		text-align: center;
		margin-right: 3px;
		@include font-size(14px);
		line-height: 30px;
		@include position(relative, null);
	  -webkit-transition: width 0.5s;
		transition: width 0.5s;
	
		&:after {
			@include position(absolute, 0 0 0 0);
			line-height: inherit;
			content: "";
			width: 100%;
			background-image: url(/__data/assets/file/0009/72099/sprites.svg);
			background-size: 400px;
			height: 100%;
			text-indent: 0px;
			text-align: center;
		}
	
		&:hover, &:focus {
			width: auto !important;
			border-radius: 15px;
			padding: 0 10px 0 35px;
		  -webkit-transition: 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
	    transition: 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
			line-height: 28px;

			&:after {
				width: 30px;
			}

			> span {
				visibility: visible;
  	    -webkit-transition:opacity 0.25s  ease-in-out;
		    transition:opacity 0.25s  ease-in-out;
				opacity: 1;
				@include font-size(12px);
				text-transform: uppercase;
			}
		}

		&:empty {
			display: none;
		}

		> span {
			visibility: hidden;
			opacity: 0;
		}
		
		&.family-friendly:after {
			background-position: -242px -242px;
		}

		&.accessible:after {
			background-position: -291px -243px;
		}

		&.local-favourites:after {
			background-position: -42px -240px;
		}
	
		&.pet-friendly:after {
			background-position: -92px -243px;
		}

		&.māori-culture:after {
			background-position: -340px -244px;
		}

		&.heritage:after {
			background-position: -190px -242px;
		}

		&.free:after {
			background-position: -142px -241px;
		}
		
		&.popular-routes:after {
			background-position: 6px -243px;
		}
	}


	.topic-list__item--featured & {
		
		@include media-query(note-and-up){
			padding: 0 !important;
		}
		
		> li {
			background-color: $white !important;
			color: $tdc-navy !important;

			&.family-friendly:after {
				background-position: -242px -342px;
			}

			&.accessible:after {
				background-position: -291px -343px;
			}

			&.local-favourites:after {
				background-position: -42px -340px;
			}
		
			&.pet-friendly:after {
				background-position: -92px -343px;
			}

			&.māori-culture:after {
				background-position: -340px -344px;
			}

			&.heritage:after {
				background-position: -190px -342px;
			}

			&.free:after {
				background-position: -142px -341px;
			}
			
			&.popular-routes:after {
				background-position: 6px -343px;
			}
		}
	}

}


ul.listing-itineraries {
	ul.tags-list li {
		width: 30px !important;
		background-color: $tdc-dark-navy;

		&:hover, &:focus {
			width: auto !important;

			> span {
				color: $white;
			}
		}
	}
}