/***
*   Tertiary Nav
***/


.tertiary-nav {
	@include font-size(13px);
	height: 42px;
	font-family: $font-primary;
	font-weight: $semibold;
	@include position(relative, null);

	ul {
		@include position(absolute, null);
		right: 0;
		width: 280px;

		li {
			display: inline-block;
			float: left;
			height: 42px;
			border-right: 1px solid $tdc-grey;

			a {
				color: $black;
				padding: $padding * 1.625 $padding * 2;
				display: block;
				text-decoration: none;
			}
			
			&:nth-child(3) {
				width: 122px;
			}

			&:last-of-type {
				border-right: none;
				width: 55px;

				img {
					margin: 4px auto;
					width: 80%;
				}
			}
		}
	}
}


	.tertiary-nav__item--visit {
		font-weight: $bold;
		text-align: right;
	}

