//Tertiary Nav

.tertiary-nav {
	@extend .bare-list;
	@include font-size(12.99px);
	font-family: $font-primary;
	font-weight: $semibold;
	height: 42px;
	background-color: $white;
	@include position(relative, null);

	@include media-query(desk){
		height: 55px;
		@include font-size(16px);	
	}

	ul {
		@include position(absolute, null 0 null null);
		width: 100%;
		color: $tdc-dark-navy;
		height: 100%;
		text-align: right;

		@include media-query(desk){
			padding: 0 38px;
			@include font-size(16px);	
			@include container();
			@include position(relative, null);
		}

		li {
			display: inline-block;
			border-right: 1px solid $tdc-grey;

			a {
				color: $black;
				padding: 0 16px;
				display: block;
				height: 42px;
				width: 100%;
				line-height: 3.3em;
				text-decoration: none;

				@include media-query(desk){
					padding: 0 21px;
					height: 55px;
					line-height: 3.4em;
				}
			}			
			
			&:nth-child(3) {
				width: 122px;
				
				@include media-query(desk){
					width: auto;
				}
			}

			&:last-of-type {
				border-right: none;
				float: right;
				height: 100%;
				width: 50px;
				background-image: url(/__data/assets/image/0005/62996/tripadvisor-logo.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 20px;

				@include media-query(desk){
					background-position: center 22px;
				}
			}

			&:first-of-type {
				@include position(absolute, 0 null 0 21px);
				display: none;

				@include media-query(palm-land-up){
					@include position(static, 0 null 0 0);
					display: inline-block;
					padding: 0 20px;
					@include font-size(12px);
					float: left;
					line-height: 3.5em;
					height: 100%;
				}

				@include media-query(desk){
					@include font-size(16px);
				}
			}
		}
	}
}