

.tertiary-nav {
	@include font-size(12.99px);
	font-family: $font-primary;
	font-weight: $semibold;
	height: 42px;
	background-color: $white;

	@include media-query(note-and-up){
		height: 55px;
	}

	ul {
		@include position(absolute, null);
		right: 0;
		width: 280px;
		color: $tdc-dark-navy;
		height: 42px;

		@include media-query(desk){
			width: 100%;
			height: 55px;
			padding: 0 38px;
			@include font-size(16px);
			@include container();
			@include position(static, null);
		}

		li {
			display: inline-block;
			float: left;
			height: 42px;
			border-right: 1px solid $tdc-grey;

			@include media-query(desk){
				@include font-size(16.06px);
				line-height: 1.5em;
				height: 55px;
			}

			a {
				color: $black;
				padding: 13px 16px;
				display: block;
				text-decoration: none;

				@include media-query(desk){
					padding: 14px 21px;
				}
			}
			
			&:nth-child(3) {
				width: 122px;
				
				@include media-query(desk){
					width: auto;
				}
			}

			&:last-of-type {
				border-right: none;
				width: 55px;

				@include media-query(desk){
					width: auto;
				}

				img {
					margin: 4px auto;
					width: 80%;
				}
			}
		}
	}
}


	.tertiary-nav__item--visit {
		font-weight: $bold;
		text-align: right;

		@include media-query(desk){
			margin-left: 900px;
		}
	}


	.tertiary-nav__item--tourism-statement {
		line-height: 1.5em;
		padding: 15px 20px 20px 0px;
}