/***
*   Three of the Best
***/

.page__three-best {
	padding: 50px 0;

	@include media-query(desk){
		@include container(1354px);
	}
}

	.page__three-best__selector-wrap {
		line-height: 27px;

		@include media-query(portable){
			padding: 0 45px 15px 45px;
		}

		@include media-query(desk){
			padding: 40px 0 21px 0;
		
			h2 {
				@include font-size(32.12px);
				line-height: 73.62px;
			}
		}

		select {
			color: $tdc-green;
			font-family: $font-secondary;
			font-size: 21px;
			border: none;
			outline: none;
			-webkit-appearance: none;
		   	background: transparent;

		   	@include media-query(desk){
				@include font-size(32.12px);
				line-height: 73.62px;
			}
		}
	}


	.page__three-best__list-item {

		@include media-query(portable){
			margin: 0 15px;
			height: 345px;
			background-color: #f7f7f7;
		}

		@include media-query(desk){
   			@include span(2.96 of 9 (gutter-override: 39px));			

			&:nth-child(3) {
				@include last();
			}
		}
	}


		.page__three-best__info-wrap {
			padding: 25px 21px 30px 21px;
			line-height: 21px;
			@include font-size(16px);
			


			h3 {
				@include font-size(18px);
				font-weight: $bold;
				margin-bottom: 10px;
				font-family: $font-primary;
			}

			a {
				color: $tdc-dark-navy;
				@include font-size(14px);
				display: block;	
				margin-top: 10px;
				font-weight: $bold;
			}
		}


		.page__three-best__image-wrap {

			@include media-query(portable){
				height: 188px;
			}

			@include media-query(desk){
				height: 215px;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}