/***
*   Three of the Best
***/

.three-best {
	padding: 50px 0 1.3125em 0;
	@include font-size(16px);

	@include media-query(note-and-up){
		@include container(1063px);
		padding: 55px 30px 70px 30px;
	}
}

	.three-best__selector-wrap {
		padding: 0 21px 15px 21px;
		@include clearfix();

		@include media-query(note-and-up){
			padding: 0;
			margin-bottom: 28px;
			@include font-size(24px);
			@include container(1700px);
		}

		h2 {
			display: inline;
			float: left;
			margin: 0;
			color: $tdc-dark-navy;
			font-weight: $medium;
			font-size: inherit;
			margin-right: 0.25em;
			display: inline-block;

			@include media-query(note-and-up){
				display: block;
			}
		}
	}



	.three-best__list {		
		@extend .bare-list;

		li {
			@include media-query(portable){
				margin: 0 11px;
			}

			@include media-query(note-and-up){
	 			@include span(2.927 of 9 (gutter-override: 35px));			
				height: 24.375em;

				&:nth-child(3) {
					@include last();
				}
			}

			img {
				height: 11.75em;
				width: 100%;
				
				@include media-query(note-and-up){
					height: 177px;
				}
			}
		}

		&:nth-child(n+2){
			display: none;
		}
	}


		.three-best__info-wrap {
			padding: 1.3125em 0 1.3125em 0;
			line-height: 1.3125em;
			@include font-size(16px);
		
			@include media-query(note-and-up){
				padding: 21px 0;
				line-height: 29.45px;
			}
		
			strong {
				color: $tdc-green;
				@include font-size(18px);
				font-weight: $bold;
				display: block;
				margin-bottom: 10px;
				font-family: $font-primary;
			}

			a {
				color: $tdc-dark-navy;
				@include font-size(14px);
				display: block;	
				margin-top: 10px;
				font-weight: $bold;
			}
		}