/***
*   Three of the Best
***/

.three-best {
	padding: 50px 0;
	background-color: $white;

<<<<<<< HEAD
	@include media-query(note-and-up){
<<<<<<< HEAD
		@include container(84.063em);
		padding: 90px 0;

		//ADBT
		.adbt & {
			@include container(75.438em);
			padding: 90px 0;
		}
		//End ADBT
=======
		@include container(1063px);
>>>>>>> 8065a8be1d947d292f72dea4cbd75d7c7e38c9c0
	}

<<<<<<< HEAD
			@include media-query(note-and-up){
				@include font-size(32.12px);
				display: block;

				.adbt & {
					@include font-size(28.77px)
				}
			}
=======
	header {
		padding: 0;
		
		select {
			@include font-size(24px);
>>>>>>> 8065a8be1d947d292f72dea4cbd75d7c7e38c9c0
=======
	header {
		padding: 0 21px;
		@include container(1063px);

		@include media-query(note-and-up){
			padding: 0;
>>>>>>> 3ccbd69e933e3c0ac27449a20c35f2af001889f9
		}
	}
}


	.three-best__list {		
		@extend .bare-list;
		@include container(1063px);

		li {
			@include media-query(portable){
				margin: 0 11px;
			}

			@include media-query(note-and-up){
	 			@include span(2.927 of 9 (gutter-override: 35px));			

				&:nth-child(3) {
					@include last();
				}
			}

			img {
				height: 165px;
				width: 100%;
				
				@include media-query(note-and-up){
					height: 180px;
				}
			}

			.adbt & {
				@include media-query(note-and-up) {
					@include span(3 of 9 inside (gutter-override: 35px));
					margin-right: 0px;
				}
				
				@include media-query(portable) {
					max-width: 23em;
				}

			}
		}

		&:nth-child(n+2){
			display: none;
		}
	}


		.three-best__info-wrap {
			padding: 21px 0;
			line-height: 22px;
		
			strong {
				color: $tdc-green;
				@include font-size(18px);
				font-weight: $bold;
				display: block;
				margin-bottom: 10px;
				font-family: $font-primary;
<<<<<<< HEAD

				@include media-query(note-and-up){
					@include font-size(24.09px);
					line-height: 28.11px;
					padding: 0;
				}
				
				//ADBT
				.adbt & {
					@include font-size(21.58px);
					color: $tdc-light-blue;
				}
				//End ADBT
=======
>>>>>>> 8065a8be1d947d292f72dea4cbd75d7c7e38c9c0
			}

			a {
				color: $tdc-dark-navy;
				@include font-size(14px);
				display: block;	
				margin-top: 10px;
				font-weight: $bold;
			}

			//ADBT
			.adbt & {
				@include font-size(19.18px);
			}
			//End ADBT
		}