/***
*   Utility Navigation
***/

.utility-nav {
	// height: 70px;
	padding: 23px 21px;

	@include media-query(note-and-up){
		height: 100px;
		@include container();
		@include position(relative, 0 0 null 0);
		padding: 0 38px;
	}

	ul {
		@include media-query(note-and-up){
			width: 200px;
			@include position(absolute, 0);
			padding: 35px 38px;
			z-index: 99999;
		}
	}

	.home & {
		@include position(absolute, 0 0 null 0);
	}

	li {
		display: inline-block;
		color: $white;

		a {
			color: inherit;
		}
	}

	@include media-query(portable){
		z-index: 99998;
	}
}


		.utility-nav__item--logo {
			float: left;
			padding-top: 2px;
			width: 7.563em;

			@include media-query(note-and-up){
				width: 9.688em;
			}
		}


		.utility-nav__item--search-toggle {
			float: right;
			@include font-size(20px);

			@include media-query(note-and-up){
				display: none !important;
			}
		}


		.utility-nav__item--primary-toggle {
			float: right;
			position: relative;
			margin: 0;
			margin-left: 17px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;		
			
			@include media-query(portable){
				width: 26px;
				height: 26px;
			}	

			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 4px 0;

				@include media-query(note-and-up){
					display: none;
				}
			}
			
			hr {
				display: block;
				height: 2px;
				width: 100%;
				background: $white;
				border: none;
				opacity: 1;
				float: right;
				margin-bottom: 7px;
				left: 0;
			 	-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
			}

			&.close {
				hr {
					@include position(absolute, null);
					height: 3px;
				}

				hr:nth-child(1){
					top: 12px;
					background: $tdc-green;
				  	-webkit-transform: rotate(135deg);
				  	-moz-transform: rotate(135deg);
				  	-o-transform: rotate(135deg);
				  	transform: rotate(135deg);
				}

				hr:nth-child(2){
					opacity: 0;
					top: 10px;
					display: none;
				}

				hr:nth-child(3){
					top: 12px;
					background: $tdc-green;
				  	-webkit-transform: rotate(-135deg);
				  	-moz-transform: rotate(-135deg);
				  	-o-transform: rotate(-135deg);
				  	transform: rotate(-135deg);
				}
			}
		}