/***
*   Utility Navigation
***/

.utility-nav {
	@include position(relative, null);
	z-index: 99998;
	padding: 6px 21px;
	height: 100%;
	
	@include media-query(palm-land-up){
		padding: 0 40px;
	}
	
	@include media-query(note-and-up){
		height: 100%;
		float: left;
		padding: 0;
  }
	
	ul {
		height: 100%;
	}

  > .container {
  	padding: 0;
  }

	li {
		display: inline-block;
		color: $white;
		
		a {
			color: inherit;
		}
	}

	.adbt & {
    	border-right: 1px solid #eeeeee;
	}
}


		.utility-nav__item--logo {
			width: 120px;
			float: left;
			height: 100%;

			a {
				display: block;
				height: 100%;
				width: 100%;
				background-image: url(/__data/assets/file/0009/72099/sprites.svg);
				background-size: 500px 500px;
				background-position: -51px 18px;
				background-repeat: no-repeat;
	
				@include media-query(palm-land-up) {
					background-position: -48px 27px;
				}

				@include media-query(note-and-up) {
					background-position: -49px 32px;
				}

				//ADBT
				.adbt & {
	    			width: 138px;
	    			height: 83%;

	    			a {
	    				background-image: url(/__data/assets/file/0020/72191/02-AD-sprites.svg) !important;
	    				@include media-query(note-and-up) {
						    background-size: 410px;
						    background-position: 0px 15px;
	    				}

	    				@include media-query(portable) {
					        background-size: 367px;
						    background-position: 0px 14px;
	    				}

	    				@include media-query(palm-landscape) {
						    background-position: 0px 5px;
	    				}
					}
				}
			}	
		}
		

		.utility-nav__item--search-toggle {
			float: right;
			@include font-size(20px);
			padding-top: 15px;
			line-height: 1.2em;
			background-image: url(/__data/assets/file/0009/72099/sprites.svg);
			background-repeat: no-repeat;
			background-position: -180px 15px;
			background-size: 500px;
			
			@-moz-document url-prefix() { 
				background-position: -180px 18px;
			}

			a {
				display: block;
				width: 30px;
				height: 30px;
			}

			@include media-query(palm-land-up){
				padding-top: 20px;
				background-position: -180px 22px;

				.adbt & {
				    background-position: -180px 23px;
				}
			}
			
			@include media-query(note-and-up){
				display: none !important;
				padding: 0;
				background-position: -180px 20px;
			}

			.adbt & {
			    background-image: url(/__data/assets/file/0020/72191/02-AD-sprites.svg) !important;
			}
		}


		.utility-nav__item--primary-toggle {
			float: right;
			@include position(relative, 13px null null null)
			margin: 0;
			margin-left: 17px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;		
			
			@include media-query(palm-land-up){
				top: 20px;
			}				
			
			@include media-query(note-and-up){
				top: 13px;
			}

			@include media-query(portable){
				width: 26px;
				height: 26px;
			}	

			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 4px 0;

				@include media-query(note-and-up){
					display: none;
				}
			}
			
			hr {
				display: block;
				height: 2px;
				width: 100%;
				background: $white;
				border: none;
				opacity: 1;
				float: right;
				margin-bottom: 7px;
				left: 0;
			 	-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);

				.adbt & {
					background: $tdc-navy;
				}
			}

			&.close {
				hr {
					@include position(absolute, null);
					height: 3px;
				}

				hr:nth-child(1){
					top: 12px;
					background: $tdc-green;
				  	-webkit-transform: rotate(135deg);
				  	-moz-transform: rotate(135deg);
				  	-o-transform: rotate(135deg);
				  	transform: rotate(135deg);
				}

				hr:nth-child(2){
					opacity: 0;
					top: 10px;
					display: none;
				}

				hr:nth-child(3){
					top: 12px;
					background: $tdc-green;
				  	-webkit-transform: rotate(-135deg);
				  	-moz-transform: rotate(-135deg);
				  	-o-transform: rotate(-135deg);
				  	transform: rotate(-135deg);
				}
			}
		}