/***
*   Utility Navigation
***/

.utility-nav {
	@include position(relative, null);
	z-index: 99998;
	padding: 6px 21px;
	height: 100%;
	
	@include media-query(palm-land-up){
		padding: 0 45px;
	}
	
	@include media-query(note-and-up){
		height: 100%;
		float: left;
		padding: 0;
  }
	
	ul {
		height: 100%;
	}

  > .container {
  	padding: 0;
  }

	li {
		display: inline-block;
		color: $white;
		
		a {
			color: inherit;
		}
	}
}


		.utility-nav__item--logo {
			width: 120px;
			float: left;
			height: 100%;

			a {
				display: block;
				height: 100%;
				width: 100%;
				background-image: url(../../__data/assets/image/0011/62993/logo.png);
				background-size: 100%;
				background-position: left center;
				background-repeat: no-repeat;

				@include media-query(desk){
					background-size: 100%;
				}
			}

			//ADBT
			@include media-query(note-and-up) {
				.adbt & {
	    			padding-top: 10px;
	    			width: 138px;
				}
			}
			//End ADBT
		}


		.utility-nav__item--search-toggle {
			float: right;
			@include font-size(20px);
			padding-top: 15px;
			line-height: 1.2em;
			
			@include media-query(palm-land-up){
				padding-top: 20px;
			}
			
			@include media-query(note-and-up){
				display: none !important;
				padding: 0;
			}
		}


		.utility-nav__item--primary-toggle {
			float: right;
			@include position(relative, 13px null null null)
			margin: 0;
			margin-left: 17px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			cursor: pointer;		
			
			@include media-query(palm-land-up){
				top: 20px;
			}				
			
			@include media-query(note-and-up){
				top: 13px;
			}

			@include media-query(portable){
				width: 26px;
				height: 26px;
			}	

			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 4px 0;

				@include media-query(note-and-up){
					display: none;
				}
			}
			
			hr {
				display: block;
				height: 2px;
				width: 100%;
				background: $white;
				border: none;
				opacity: 1;
				float: right;
				margin-bottom: 7px;
				left: 0;
			 	-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
			}

			&.close {
				hr {
					@include position(absolute, null);
					height: 3px;
				}

				hr:nth-child(1){
					top: 12px;
					background: $tdc-green;
				  	-webkit-transform: rotate(135deg);
				  	-moz-transform: rotate(135deg);
				  	-o-transform: rotate(135deg);
				  	transform: rotate(135deg);
				}

				hr:nth-child(2){
					opacity: 0;
					top: 10px;
					display: none;
				}

				hr:nth-child(3){
					top: 12px;
					background: $tdc-green;
				  	-webkit-transform: rotate(-135deg);
				  	-moz-transform: rotate(-135deg);
				  	-o-transform: rotate(-135deg);
				  	transform: rotate(-135deg);
				}
			}
		}