/***
*   Watch Timaru
***/

.watch-timaru {
	padding: 3.125em 0 2.125em 0;

	@include media-query(note-and-up){
		@include container(84.063em);
		padding: 4.6875em 0;
		@include position(relative, null);
	}

	h2 {
		padding: 0 1.3125em;
		margin-bottom: 10px;
		color: $tdc-dark-navy;
		font-weight: $medium;

		@include media-query(note-and-up){
			padding: 0;
			@include font-size(32.12px);
			line-height: 2.292em;
		}
	}
}


		.watch-timaru__list {
			li {
				padding-bottom: 1.875em;

				@include media-query(note-and-up){
					@include span(3 of 6 (gutter-override: 2.375em));
					padding-bottom: 0;

					&:nth-child(2){
						@include last();
					}
				}

				video {
					width: 100%;
					display: block;
					height: 100%;
					background-color: $black;
				}
			}
		}


			.watch-timaru__info-wrap {		
				padding: 2.125em 1.3125em;
			
				@include media-query(note-and-up){
					padding: 2.375em 0;
				}

				strong {
					color: $tdc-green;
					@include font-size(18px);

					@include media-query(note-and-up){
						@include font-size(24.09px);
					}
				}

				p {
					line-height: 1.4375em;

					@include media-query(note-and-up){
						@include font-size(21.42px);
						line-height: 30.79px;
					}
				}
			}	


			.watch-timaru__video-wrap {		
				@include position(relative, null);
				height: 13.5625em;
				width: 100%;

				@include media-query(note-and-up){
					height: 22.875em;
				}
			}


			.watch-timaru__video-filter {
				@include position(absolute, 0 0 0 0);			
				background-color: rgba(23,23,23,0.60);
			}

			
			.watch-timaru__view-all {
				display: block;
				width: 100%;
				text-align: center;

				@include media-query(note-and-up){
					display: inline-block;
					width: auto;
					text-align: right;
					@include position(absolute, 6.25em 0 null null);
					@include font-size(18.74px);
					line-height: 29.45px;		
				}
			}