/***
*   Watch Timaru
***/

.watch-timaru {
	background-color: $white;
	padding: 50px 0 21px 0;

	@include media-query(note-and-up){
		padding: 50px 30px;
		@include position(relative, null);
	}

	header {
		@include container(1063px);
	}
}


		.watch-timaru__list {
			@include media-query(note-and-up){
				padding: 0 30px;
				@include container(1063px);
			}
			
			li {
				padding-bottom: 1.875em;

				@include media-query(note-and-up){
					@include span(2.99 of 6 (gutter-override: 30px));

					&:nth-child(2){
						@include last();
					}
				}

				video {
					width: 100%;
					display: block;
					height: 210px !important;
					background-color: $black;
	
					@include media-query(note-and-up){
						height: 275px !important;
					}
				}
			}
		}


			.watch-timaru__info-wrap {		
				padding: 21px 0;
				
				@include media-query(note-and-up){
					padding: 30px 30px 0 0;
				}

				strong {
					color: $tdc-green;
					@include font-size(18px);
					display: block;
					margin-bottom: 15px;
				}
			}	


			.watch-timaru__video-wrap {		
				@include position(relative, null);
				height: 13.5625em;
				width: 100%;

				@include media-query(note-and-up){
					height: 275px;
				}
			}


			.watch-timaru__video-filter {
				@include position(absolute, 0 0 0 0);			
				background-color: rgba(23,23,23,0.60);
			}

			
			.watch-timaru__view-all {
				@include media-query(note-and-up){
					display: inline-block;
					width: auto;
					text-align: right;
					@include position(absolute, 55px 30px null null);
				}
			}