/***
*   What's On
***/

.whats-on-slider {
	padding: 60px 21px;

	@include media-query(note-and-up){
		padding: 80px 0;
		@include position(relative, null);
	}
	
	h2 {
		color: $tdc-dark-navy;
		@include font-size(22.5px);

		@include media-query(note-and-up){
			padding: 0 38px;
			@include container(1700px);
			@include font-size(22.5px);
		}
	}

	.listing--events {
		li {
			@include media-query(portable){
				flex-basis: 46%;
				max-width: 46%;
			}

			@include media-query(note-and-up){
				min-width: 376px;
			}

			&.listing--events__feature {
				max-width: 790px;
			}	
		}
	}
}










.whats-on-slider__view-all {
	@include media-query(note-and-up){
		@include font-size(19px);
		@include position(absolute, 115px 38px null null);
	}
}


.whats-on {
	background-color: $tdc-bg-grey;
}


	.whats-on__wrap {
		padding: 0 21px;

		@include media-query(note-and-up){
			@include container(1461px);
		}
	}


		.whats-on__search {
			border-bottom: 1px solid $tdc-grey;
			@include clearfix();
			padding: 62px 21px;


			@include media-query(note-and-up){
				@include container(1423px);
				padding: 62px 19px;

				select {
					width: 376px !important;
					margin-right: 38px;	
					float: left;
				}

				input {
					width: 334px !important;
					float: left;
					margin-right: 44px;
				}

				button {
					width: 138px !important;
					margin: 0;
					float: left;
				}
			}
		}