/***
*   What's On
***/

body.events {
	background-color: $tdc-bg-grey;
}

.whats-on-slider {
	background-color: $white;
	padding: 0px 21px 50px;

	@include media-query(palm-land-up){
		padding: 0px 0px 50px;
	}

	@include media-query(note-and-up){
		// padding: 50px 0;
		@include position(relative, null);
	}

	header {
		@include container(1270px);
		
		@include media-query(palm-land-up){
			padding: 20px 45px;
		}

		a {
			float: right;
		}
	}

	.listing--events {
		li {
			margin-right: 30px !important;
			width: auto !important;

			@include media-query(portable){
				margin-right: 10px !important;
				max-width: 165px !important;
			}

			@include media-query(palm-land-up){
				min-width: 323px;
			}

			@include media-query(note-and-up){
				min-width: 281px;
			    width: auto !important;
			}

			&.listing--events__feature {
				max-width: 591px !important;

				@include media-query(palm-landscape){
					max-width: 100% !important;
				}
			}

			&:not(.listing--events__feature):nth-child(3n+2), &:not(.listing--events__feature):first-child, &:nth-child(2n+1) {
				margin-right: 30px !important;

				@include media-query(portable){
					margin-right: 10px !important;
				}
			}
		}

		&:nth-child(2) {
			@include media-query(palm-land-up) {
				display: none;
			}
		}

		&:nth-child(3) {
			li {
				&.listing--events__feature {
					@include media-query(palm-landscape) {
						display: none;
					}
				}
			}
		}
	}

	.slider-tools {
		@include container(1270px);
		padding: 0 30px;
	}
}